[2020-02-11 00:49] ylexus opened #1 "Add about dialog displaying version"

[2020-02-11 00:49] ylexus opened #2 "Display "Upload another folder" button when the upload is finished"

[2020-02-23 00:39] ylexus opened #3 "Fix MacOS notarization"
Since 3 feb 2020, Apple requires hardened runtime and signing with timestamp for all binaries

[2020-02-23 01:44] #3 closed

[2020-02-23 01:44] ylexus commented on #3
Fixed

[2020-02-23 01:46] ylexus commented on #2
Fixed  by 32988c214ff1999c535a55c477a397164df1d41d and 89a9a738b190711320926077f1a4a12832ad381f.

[2020-02-23 01:46] #2 closed

[2020-02-24 23:57] #1 closed

[2020-03-05 00:40] ylexus opened #4 "Linux version may crash on startup on machines with NVidia GPU"
Logs and crash dump:
[main.log](https://github.com/ylexus/jiotty-photos-uploader/files/4290331/main.log)
[hs_err_pid11798.log](https://github.com/ylexus/jiotty-photos-uploader/files/4290332/hs_err_pid11798.log)

[code]

[2020-03-05 22:09] ylexus commented on #4
bugreport.java.com internal review ID 9063921

[2020-03-15 16:04] ylexus opened #5 "Linux version may display empty window on startup"
The following in printed to the console and the Log in to Google window is empty.
[code]

[2020-03-19 00:56] ylexus opened #6 ""Loading albums in cloud" never completes under macOS"

[2020-03-25 21:05] #6 closed

[2020-03-25 21:06] ylexus opened #7 "Add "counting towards storage" reminder"
As per https://developers.google.com/photos/library/guides/api-limits-quotas:

[2020-03-27 10:23] ylexus opened #8 "Uploading files spinner does not stop when the whole upload fails"
<img width="597" alt="Screenshot 2020-03-27 at 10 22 52" src="https://user-images.githubusercontent.com/6009806/77746538-f5941180-7014-11ea-9b71-e37d7eb05791.png">

[2020-03-27 19:56] Ampirooz opened #9 "Stock on Loading albums in cloud"
Stock on Loading albums in cloud
Changed IP, Not working
Uninstall and install, Not working
sign-out and signing , not working
revoke access and grant it again, not working
![Screenshot (3)](https://user-images.githubusercontent.com/30123658/77795203-cae4a000-708a-11ea-8553-7200512f5dd6.png)

[2020-03-27 21:21] ylexus commented on #9
@Ampirooz, this looks like #6 which was fixed in 1.0.2 (the issue says it's only macOS, but it can affect Windows too). Can you ensure you are using the latest version, and if yes, then can you please zip and attach the logs from `%HOMEDRIVE%%HOMEPATH%\.jiottyphotosuploader\log` folder?

[2020-03-27 21:22] ylexus opened #10 "Version must be dumped in the log file on startup"

[2020-03-28 09:40] Ampirooz commented on #9
Thank you, issue solved with 1.0.2.
Great work btw..

[2020-03-28 12:12] ylexus commented on #9
@Ampirooz nice, thanks for reporting and enjoy!
Closing as duplicate of #6.

[2020-03-28 12:12] ylexus commented on #9
Duplicate of #6

[2020-03-28 12:12] #9 closed

[2020-03-28 12:44] ylexus opened #11 "Uploading a zero-length NEF file results in "com.google.api.gax.rpc.ApiException: java.lang.IllegalArgumentException: The upload was completed but failed to finalize or get the result""
[code]

[2020-03-28 13:44] #11 closed

[2020-03-28 15:02] #7 closed

[2020-03-28 18:34] #10 closed

[2020-03-28 18:35] #8 closed

[2020-03-28 18:36] ylexus opened #12 "If Google request quota is exceeded, hint the user"
Notify the user about this, in a friendly way:
[code]

[2020-03-29 21:10] ylexus opened #13 "Should not activate the dedicated graphics card on dual-GPU MacBook Pro"

[2020-03-30 20:52] #12 closed

[2020-03-30 20:53] ylexus opened #14 "Fails the whole upload if a a directory matches pre-existing album that's been created manually by user"
[code]

[2020-04-01 22:15] ylexus opened #15 "Publish to Microsoft Store"

[2020-04-01 22:15] ylexus opened #16 "Publish to Mac App Store"

[2020-04-02 21:46] ylexus opened #17 "Reduce Google request quota use by batching media item creation"

[2020-04-02 22:02] #14 closed

[2020-04-04 15:52] ylexus opened #18 "Windows app does not have the right icon when installed"
The icon is correct in the taskbar, but not in the window title or Alt+Tab view

[2020-04-04 15:52] ylexus opened #19 "Windows 10 (msix) installer does not uninstall previous version, simply installing another one"

[2020-04-11 22:32] #19 closed

[2020-04-12 16:43] ylexus opened #20 "Add Russian localisation"

[2020-04-12 16:48] #20 closed

[2020-04-13 19:39] nikc0069 opened #21 "Add tip to detail what happens in event of failures"
Great piece of software, but it isn't clear whether failures stop upload of photos, or whether the api limit has been hit. Uploads appear to have stopped but I don't k ow whether to wait or whether a failure has  caused them to stop.

[2020-04-13 19:55] ylexus commented on #21
@nikc0069, can I ask which version do you use? The latest (1.0.3) does add a clear flashing hint when you hit the API limit. Also, it adds a report about all the failures when you click on “Failures”.

[2020-04-13 19:58] nikc0069 commented on #21
@ylexus yup 1.0.3 and the warning are great. I only get them on the stages prior to the upload though. I've since learned that even with failures it will carry on. I'm not sure if the failures link means the flashing warning doesn't show on the upload stage. Now I know it's not a biggie but I stopped and resumed as I wasn't sure whether the failure had stopped the whole upload process.

[2020-04-13 20:13] ylexus commented on #21
I’m working on better use of batch upload requests (#17)  which will hopefully reduce the probability of API limit hits as the limits are shared by everyone.

I’ll probably also add a clear indication/hint that failures are not blocking the progress by themselves.

[2020-04-13 20:33] nikc0069 commented on #21
@ylexus Great stuff. Thank you! Great piece of software.

[2020-04-23 11:12] liliandjeff opened #22 "Add support for High quality instead of Original full resolution"
Looks like the upload is original full resolution.  My Google Photos account setting is High quality (free unlimited storage).  Getting error INVALID_ARGUMENT: The remaining storage in the user's account is not enough to perform this operation.

Can you honor the upload setting or provide a Jiotty setting for upload resolution?  Thanks

[2020-04-23 11:24] grantpinkerton commented on #22
Hello - I may be wrong, but I also ran into this problem and when I looked into it, it would appear that the Google API that facilitates the upload only allows original full resolution uploads. I had to follow the below instructions to compress any images uploaded. I was uploading a lot of images so for me it was easier to buy 100gb of space for a month, upload everything i needed, compress the im

[2020-04-23 11:32] liliandjeff commented on #22
Thanks for the suggestions and quick response

[2020-04-23 21:40] ylexus commented on #22
@grantpinkerton thanks for the response to @liliandjeff. I'll reopen this issue to at least make it clearer in the app that the originals are always uploaded. The app already warns at the bottom that the the uploads will count towards the Google storage, but perhaps the warning could be more pronounced and worded clearer.

[2020-04-23 22:02] ylexus opened #23 "Stopping the upload when uploading a large file may take a long time"

[2020-04-25 16:11] #17 closed

[2020-04-25 16:26] #22 closed

[2020-04-25 22:44] ylexus commented on #23
Not easily fixable until google photos client library supports cancelling the RPC call.

[2020-04-25 23:32] #21 closed

[2020-04-25 23:33] ylexus commented on #15
This is pretty impossible for a java app, as far as I can see. An app must be built in Visual Studio to be publishable to Store.

[2020-04-26 08:13] thebest07111 opened #24 "Failed to launch JVM"
Hello,

Whenver I try to start the windows 10 app (I am on windows 10) it shows me an failed to launch JVM error:
![failed to launch jvm](https://user-images.githubusercontent.com/9769181/80301768-5ba3be00-87a6-11ea-8afa-0a45ed2eb3dd.PNG)
[main.log](https://github.com/ylexus/jiotty-photos-uploader/files/4534894/main.log)

[2020-04-26 08:47] ylexus commented on #24
@thebest07111 thanks, this is easily fixable, this happens because you’ve got Dutch as the main system language and I only tested with English and Russian :-). A shameful bug. I’ll fix and release a new version ASAP.

[2020-04-26 08:51] ylexus opened #25 "Do not create albums for empty folders"

[2020-04-26 10:28] ylexus commented on #24
Fixed in 1.0.5.

[2020-04-26 10:28] #24 closed

[2020-04-29 21:22] #18 closed

[2020-04-29 22:18] #25 closed

[2020-04-30 14:05] grantpinkerton opened #26 "Fails to upload a folder with more than 50 images"
Tested using Windows 10. Version 1.0.6

When I try an upload a folder with over 50 images I get this error for each of the files:

C:\PHOTOGRAPHS\ALBUM_NAME\FILE_NAME.JPG	INVALID_ARGUMENT: Request must have less than 50 items.

**Steps to reproduce:**

1)Create folder A with 70 images
2)Try to upload the folder A
3)Fails with the error INVALID_ARGUMENT: Request must have less than 50 items. --howe

[2020-04-30 14:46] ylexus commented on #26
Ha, this is something I wanted to test but miserably failed. It’s a regression in 1.0.4. Please use version 1.0.3 for now. I’ll fix today.

[2020-04-30 19:14] ylexus opened #27 "Notify users about new version availability"

[2020-04-30 20:51] ylexus commented on #26
Fixed in 1.0.7

[2020-04-30 20:51] #26 closed

[2020-05-05 23:02] #27 closed

[2020-05-06 06:27] imvinayshetty opened #28 "Issue while installing on 32 bit Windows 7 machines"
Unable to install the .msi files provided on 32 bit machines. Getting the below error as in screenshot. I think it needs to re-created seperately for 32 bit machines.

![image](https://user-images.githubusercontent.com/43453090/81143988-c3b98780-8f90-11ea-9046-dc5e9650d887.png)

[2020-05-06 15:44] ylexus commented on #28
It may not be possible to support 32 but with the libraries that I depend on. Also I’ll need to install 32 bit windows virtual machine. I’ll investigate this in the nearest few days.

[2020-05-06 23:21] ylexus commented on #28
Making it work on 32 bit is very involved.
1. jdk14 jpackage creates a 32 bit exe, but the wrong (64 bit?) msi
2. there is no official openjfx 14 that includes 32 bit native libraries
3. I suspect gax-rpc, that uses native libraries too, may miss 32 bit ones

So for now this is on hold.

[2020-05-07 05:10] imvinayshetty commented on #28
Can you please let me know how are you creating the installers? I mean I can research from my end too.

[2020-05-07 09:02] ylexus commented on #28
Packaging is not the only problem, as I mentioned above.
The app is written in java and is complied under jdk14. It bundles openjdk 14. I am using a tool called jpackage from jdk14. It does all the bundling, creates the app exe and bundles it and all the other resources into the msi installer. Jpackage uses wixtools to do the packaging. What I found is that, if built on Windows 7 32 bit, the exe i

[2020-05-09 21:08] skylow48 opened #29 "Upload pictures as degraded quality ?"
Is there a way to upload pictures as degraded quality, to don't have any space restriction (unlimited free storage) ?

[2020-05-09 22:04] ylexus commented on #29
@skylow48 Unfortunately not. Google Photos API does not support this. So all media uploaded will be in original resolution and so will take up space in your Google Account. I've added this to the FAQ

[2020-05-09 22:04] #29 closed

[2020-05-09 22:05] ylexus commented on #29
https://developers.google.com/photos/library/guides/upload-media:

[2020-05-09 22:08] ylexus commented on #28
Tried to fix problem with openjfx by using Full version of Liberica JDK which includes JavaFX for 32 bit Windows: https://bell-sw.com/pages/java-14/. While the app now starts, the WebView component (used to show Google Login screen) does not function properly and crashes the JVM with access violation.

[2020-05-10 05:31] imvinayshetty commented on #28
Please check this.. if this helps...

https://github.com/javafxports/openjdk-jfx/issues/376

[2020-05-10 09:08] ylexus commented on #28
@imvinayshetty I’ve seen this, as this is the page that comes up on google search. This is where I found Liberica JDK I mentioned in the previous comment. Unfortunately, all the leads there are not so useful. The only other thing to try is to build openjfx myself, but seems like this is very involved (according to the comments on that issue). I may try it when I find time. You are very welcome to

[2020-05-10 09:38] imvinayshetty commented on #28
I do not have experience related to this but I surely can look into it. will keep you posted.

[2020-05-10 23:16] #13 closed

[2020-05-12 17:54] toyo44444 opened #30 "Uploading to create albums w/existing photos"
Hi, I saw your Reddit post saying that uploading with existing photos was working. So I was using the app on Mac and I was trying to upload to get the app to create an album for me when I had previously uploaded the photos via web browser or backup and sync and for some reason I can't get it to create that album if the photos exist already. If the photos have not been uploaded before, the app work

[2020-05-12 19:28] mwerther commented on #30
Also, I tested this and made sure there were no existing albums with the same name that the uploaded would have created as you had said to not do.

[2020-05-14 15:27] ylexus commented on #30
@mwerther can I ask you to try this:
1. Delete everything from ~/jiottyphotosuploader/logs
2. Create a single folder A with a single sub-folder B and put a single photo into the folder B. Please choose the phot that was already uploaded by yourself or backup and sync.
3. Run Jiotty and ask it it upload folder A

What is the outcome? Do you see any failures in the app? If yes, can you please attach

[2020-05-14 15:30] ylexus commented on #30
It definitely worked for me and for the other user, as you can see from this comment https://www.reddit.com/r/googlephotos/comments/ge2bpa/jiotty_photos_uploader_upload_your_collection/fpnd4jh/?utm_source=share&utm_medium=ios_app&utm_name=iossmf so there’s something interesting going on with your setup.

[2020-05-15 16:39] mwerther commented on #30
@ylexus thank you for the help. I'm not technical but I think I can definitely handle what you are saying. Since I reached out to you I have been testing and I think in the way you are suggesting (folder A with sub-folder B and photos in sub-folder B it seems to work better). I also had just uploaded the files into google photos (and it was a couple thousand photos) and some were already in and so

[2020-05-15 17:01] ylexus commented on #30
@toyo44444 thanks for your kind words. Please let me know if you are able to isolate this error scenario.

I found indeed that there’s a gap on the market here. I tried to market the going through the first page of google results for “google photos upload folder album”. A lot of these are locked discussion streams or stack exchange sites that I don’t have enough Karma to post to. Wherever I could

[2020-05-16 21:44] ylexus commented on #30
Added a clarifying image to the folder selection screen to emphasise that you need to select the top level folder :)  <img width="612" alt="Screenshot 2020-05-16 at 22 42 18" src="https://user-images.githubusercontent.com/6009806/82130798-96f24500-97c6-11ea-80f1-6512f1c3e923.png">

[2020-05-18 12:21] wheleph opened #31 "Order of items in albums"
Uploaded photos are displayed in Google Photos album in some inconsistent order. They are definitely not ordered by date (which is the case when one uses native Google Photos UI to do it).

IMHO it would be natural to sort the photos by date in create albums. Maybe this is another limitation of Google Photos API? Then it's worth mentioning it in Wiki.

Affected version: 1.0.8

[2020-05-18 22:58] ylexus commented on #31
It looks like this may actually be possible, if I separate the uploading and adding to the album stages. This is because once the item is uploaded, I can get hold of its metadata, and creation date/time is one of them. Let me experiment with the API.

[2020-05-25 05:27] axylee opened #32 "Date change to today with large video file"
The date will change to today with Jiotty , tested below steps :
1: upload to GP manually within the web browser , the file size and date is correct .
2: delete and clean up the bin .
3: upload to GP the same video with Jiotty uploader , the file size the same , but the date change to today .
1-test file size in explorer
![1-test file size in explorer](https://user-images.githubusercontent.com/658

[2020-05-25 08:12] axylee commented on #32
i have done some more test and found :
1: upload with web browser to GP , the date will first fetch the info " Media Created " , if there is no info then fetch the file " Date Modified " info as taken date .
2: upload with Jiotty uploader , the video date will only fetch the " Media Created " info as video taken date , if the file comes with no info , then will use upload time as taken date . As t

[2020-05-27 00:50] ylexus opened #33 "Show hidden "album may now be empty and will require manual deletion" warning as a Failure in the UI"

[2020-05-27 01:25] ylexus commented on #31
OK I've made it work. It's an emulation as the order in the album depends on the order of items in the API request. Google Photos does not re-order items uploaded via API. As a result, the order is not guaranteed, for example, when the upload is cancelled in an unlucky moment and re-tried, the order may be broken. The probability of that is quite small though, so current implementation will have t

[2020-05-27 01:42] ylexus commented on #32
@axylee I was about to reply with the same, but you've nailed it. Jiotty does not pay attention to the file's modification date/time in the file system. In fact, there is no place in the Google Photos API to override the file's date / time. The API allows you to specify the file bytes, file name and description - and that's all. Therefore the date/time is taken from the file's contents (EXIF or si

[2020-05-27 01:45] #30 closed

[2020-05-27 02:11] axylee commented on #32
@ylexus Thank you for your reply , and once again , such a great APP you create . in further found the info fetching for picture file , i think its better to write here for the other Jiotty lovers to know:
.mov  => only fetch " Media Created " data as date .
.jpg    => only fetch " Date taken " data as date .
.png   => only fetch " Date taken " data as date .
the other format of file which not sup

[2020-05-27 06:51] wheleph commented on #31
Thank you very much!

This is an awesome piece of software by the way!

[2020-05-27 21:28] ylexus commented on #32
@axylee I've updated the Limitations section on the wiki: https://github.com/ylexus/jiotty-photos-uploader/wiki#limitations. The key here is not the format of the file, but whether the file's EXIF or similar metadata has been retained or lost. By the way, how did you create those MOV files so that they ended up without metadata?

[2020-05-27 21:32] #31 closed

[2020-05-28 05:04] axylee commented on #32
@ylexus some of those .MOV file without metadata was transfer from my Nikon camera to PC , i'm not sure where went wrong , but most of them only has the " Modify date " of file which match the actual taken date , and without " Media Created " metadata . The others was taken by iphone which are fine .

[2020-05-28 05:17] axylee opened #34 "Jiotty hangup during upload , wont start again ."
Jiotty won't hangup , wont start again .
Attached with log .

[main.log](https://github.com/ylexus/jiotty-photos-uploader/files/4693387/main.log)

[2020-05-28 21:10] ylexus commented on #34
The config file got corrupted. Would you be able to zip <home>/.jiottyphotosuploader/data.json and all the logs under <home>/.jiottyphotosuploader/logs? It’s more interesting to find out why it hung and for that I need all the logs.
Privacy warning: the logs and the config will contain full paths to all the files it attempted to upload. If you don’t want to share them publicly, you may wish to ema

[2020-05-28 21:13] ylexus commented on #34
You can copy existing data.json for later investigations and then delete it. This will allow the app to start. It will forget all the things it ever uploaded, though, and will attempt to re-upload them. This is not a big problem, as Google Photos will de-duplicate. You’ll also lose your “ignored files” preferences if you ever customized them.

[2020-05-28 21:16] #32 closed

[2020-05-29 02:20] axylee commented on #34
I delete the data.json , and re-start the Jiotty to upload again , seems working fine now .
Only, some point after 10000 items , the CPU take up to 60% , and upload become very slow , you can see from " main.log.2020-05-29-07-21 " .
Any way , I turn off the app and success to open Jiotty again without delete the data.json now , I will continue to try and keep post here .

The log file is too big t

[2020-05-29 07:51] ylexus commented on #34
The upload must stop after 10,000 items until the next day as it’s a daily limit of the Google Photos API - see the FAQ on the wiki. There are other people using it so it should really stop earlier than 10,000 items. The 60% CPU is troublesome though, that should not happen. Let me check the logs and see if I can figure something out.

[2020-05-29 08:22] axylee commented on #34
I just have a hunch the trouble is relate to large amount of items upload at once , but you just point it out its the 10K limit , thank you.
For the high CPU draining , i realize which happens when the Jiotty is trying to upload the file ( the upload item number is increase , very slow ) , but actually no file has been uploaded , and the fail log is increase with " INVALID_ARGUMENT: Request must h

[2020-05-29 08:56] ylexus commented on #34
Wait, which version are you using? This 50 item bug was fixed a while ago. Can you ensure you’re using the latest version and try again?

[2020-05-29 09:25] axylee commented on #34
Oh no ~~  i feel so sorry , some how it's show 1.0.5 , I may made mistake during re-installation .
Now , it's 1.0.9 , and I delete all the log and data.json , upload again in fresh , it looking good now and keep uploading , the CPU stay around 30% , I will keep post here once complete .

[2020-05-29 09:52] axylee commented on #34
Its stuck here fo 30 mins , don't know what's going on .
![image](https://user-images.githubusercontent.com/65884869/83245780-cbf19500-a1d3-11ea-9e57-168473fd280e.png)

Attached with log for your reference .
[log03.zip](https://github.com/ylexus/jiotty-photos-uploader/files/4700990/log03.zip)

[2020-05-29 21:39] ylexus commented on #34
@axylee did it progress further since you posted? Your log shows that 246 files have been successfully uploaded, but your screenshot shows only 80. I can't explain that. At the time the log was taken the app has been running for only 22 minutes. So if you're saying it's been hanging without any updates for 30 minutes, it means it was actually properly hanging. Was the UI responding when it happene

[2020-05-30 21:31] ylexus commented on #31
[1.1.0 is released](https://github.com/ylexus/jiotty-photos-uploader/releases/tag/1.1.0)

[2020-05-30 21:33] ylexus commented on #34
[1.1.0 is released](https://github.com/ylexus/jiotty-photos-uploader/releases/tag/1.1.0) - please try it and if it freezes again, please press Ctrl+Alt+Shift+D, while in the app. Wait 30 seconds. This would write some thread dump files to .jiottyphotosuploader/threaddumps. They contain no personal data, so please feel free to publish them here.

[2020-06-02 08:35] axylee commented on #34
i delete all the log and data.json , update to 1.1.0 now , re-try to upload each folder , my folder structure like this by years ( from 1996 ~ 2020 ), more close to now more the picture amount .
+Pictures
　　|---1990    <-----  ( select the year folder to upload sub folders )
　　　　　|---19900101_Event` one
　　　　　|---19900301_Event two
　　　　　|---19900701_Event three
　　|---2001
　　　　　|---20010101_Event on

[2020-06-02 10:22] axylee commented on #34
not sure if this app behavior is only happen on me ? ( over 5000 items upload at a time gets slow down like hangup) , if yes , then I may need to upgrade my NAS PC, which current is Celeron N3050 1.6GHz / 8GB DDR / Windows 10 Pro.

[2020-06-03 21:20] ylexus commented on #34
@axylee, could you please install [version 1.1.1](https://github.com/ylexus/jiotty-photos-uploader/releases/tag/1.1.1), then start uploading your large 5000+ folder, and when it "hangs", press Ctrl+Alt+Shift+H. This will, hopefully, create a heap dump under .jiottyphotosuploader/heapdumps (it will show a dialog confirming it's been successful). Could you zip it and send it to me please?

I'll also

[2020-06-03 22:19] ylexus commented on #34
@axylee also, together with the heap dump, could you please zip all the logs and data.json and email them to me too, for the full investigation?

Your PC spec should be enough, Jiotty should not need much memory or CPU.

When it "hangs", do you see the flashing exclamation mark next to "Uploading media files"? If yes, and it stops for as long as 30 minutes, this it simply means you've hit the dail

[2020-06-03 23:33] ylexus commented on #34
I just uploaded 3000 items and there's no increase in memory consumption whatsoever - it's all good. I don't think it's a memory leak you're experiencing. Anyway, please do send heap dumps, logs and data.json when it all happens again.

[2020-06-04 00:03] ylexus opened #36 "Stopping upload of a directory with a lot of files doesn't actually stop upload in the background"

[2020-06-04 01:32] axylee commented on #34
Thank you so much for take into this issue !
I just delete all the logs / data.json / threaddump files and update to 1.1.1 .  Re-upload the 5000 content folder , I will keep post here the result .

BTW , When it "hangs " , i think it's not actually hang-up , the dialogue GUI just freeze , the uploading number stay still no increasing , the spinning circle on the left is not spinning , but when I c

[2020-06-04 07:08] ylexus commented on #34
If the circle is not spinning, this means the UI thread is hanging doing something. Can I ask, if this happens again, to take thread dumps again too? It’s now Ctrl+Alt+Shift+T (I changed the hot key), then wait 30 seconds. Then include “threadsumps” directory into the zip. Thanks!

[2020-06-04 07:52] axylee commented on #34
The upload still in progress , has over 4500 now , the circle has stop spinning which is fine , the upload seems slow down , the number is stop rolling , but increase few hundreds after 10~20 mins . I check the data.json file , seems the app is actually running ( can be tell by the file time stamp ) , attached the screen shop and log for your reference . But i think it working now .

![01](https:/

[2020-06-04 08:46] axylee commented on #34
now the upload is getting really slow . upload number is 5000 now .

[threaddumps (2).zip](https://github.com/ylexus/jiotty-photos-uploader/files/4728647/threaddumps.2.zip)

[2020-06-04 09:00] ylexus commented on #34
Can I have the logs and heap dumps when it’s really slow too please?

[2020-06-04 09:05] axylee commented on #34
I try to hit Ctrl+Alt+Shift+H and there is a blank error window pop up , i check the log show :

![image](https://user-images.githubusercontent.com/65884869/83737333-698e0e00-a685-11ea-85ce-99e3f47872f6.png)

[2020-06-04 09:20] axylee commented on #34
wait , the process speed seems picking up , items process per minutes is increase . ( around 2020-06-04 16:16 is slow ) , Mmh ... ,

[main - (5).log](https://github.com/ylexus/jiotty-photos-uploader/files/4728848/main.-.5.log)

[2020-06-04 12:51] axylee commented on #34
it's complete the upload ( see the log ) , only the UI freeze at the end  .

The last folder content is wrong ( GP album show 1200 items , but actually 3900 items in folder ) , i will try just this folder again after one day to see if the file issue .

Over all , its at least can complete up to 8000 items at once now .

![image](https://user-images.githubusercontent.com/65884869/83757491-26429800-

[2020-06-04 13:04] axylee commented on #34
So , since there is 10000 API upload restriction , plus other user ,  now I just need to figure out a way to upload below 5000 per day , then will be working fine .

[2020-06-04 13:20] ylexus commented on #34
You don’t need to figure anything out manually. Just stop the upload any time, then later select the same directory again. It will remember what it’s already uploaded and will not re-upload same files again. This is what’s stored in data.json mostly.

[2020-06-04 13:21] ylexus commented on #34
Quick question - will you be interested in helping to translate the app to Chinese?

[2020-06-04 14:01] axylee commented on #34
Sure , I will give a try on next folder .

[2020-06-04 14:04] axylee commented on #34
Sure , I’ll do my best , since this is a great app !
Yes , it’s Mandarin ( Traditional Chinese ) , but I can do simplify Chinese as well , just let me know what should I do .

[2020-06-04 21:31] ylexus commented on #34
This is fixed, thanks. Was some rush coding.

[2020-06-04 21:47] ylexus commented on #34
I can see there's an error adding some items to albums in main.6.log, which might explain why some albums show less items. But it's hard to investigate what's happening as you only sent the last log file. Can you please always zip the whole "log", data.json, "threaddumps" and "heapdumps" directories into the one archive? This way I can reconstruct the full story of what's been happening. If you ha

[2020-06-04 21:52] ylexus opened #37 "Chinese Translation"
To help with translation, please have a look at this file: https://github.com/ylexus/jiotty-photos-uploader/blob/master/src/main/resources/i18n/Resources.properties. It contains all the phrases needed by the app. The file is in the format:

key=phrase

There are also some clarifying comments in the file that start with '#' - these explain some context for the key that follows, but do not need to b

[2020-06-04 21:54] ylexus commented on #34
Both would be great, why not? Let's discuss Chinese translation in this new issue: #37.

[2020-06-05 02:18] axylee commented on #34
I just try upload the un-completed  folder again ( just 2 sub folder , 4000 items ) , the UI freeze at 121 items , and the log file doesn't move for few hours until i hit the threaddump . I attached the log / threaddump / data.json , would you help to see where went wrong ?  If you need to delete the log and try again , please feel free to let me know .

[data.zip](https://github.com/ylexus/jiotty

[2020-06-05 06:25] axylee commented on #37
I had add one file in i18n and pull request , please have a look , and let me know if I am do wring .

[2020-06-05 09:58] axylee commented on #37
Created 9 files , and pull request , not sure if the file name format is work for this code , please verify , thank you.
-----Chinese Traditional-----
Resources_zh_TW.properties
Resources_zh-CHT.properties
Resources_zh-HK.properties
Resources_zh-HANT.properties
Resources_zh-MO.properties

-----Chinese Simplified-----
Resources_zh-CHS.properties
Resources_zh-CN.properties
Resources_zh-HANS.properti

[2020-06-05 21:45] ylexus commented on #37
Thanks, I did not expect you to create pull requests - excellent! Even better if it was one pull request for all 9 files instead of 9 different ones :) But that's ok, next time maybe. I'll add comments to only some of them.

[2020-06-05 22:48] ylexus commented on #34
Can I ask you if by any chance `D:\\_Pictures\\2015-2\\20151030_露營-五峰-瓜麗古老-民都有山\\IMG_2775.JPG` and `D:\\_Pictures\\2015-2\\20151030_露營-五峰-瓜麗古老-民都有山\\IMG_2579.JPG` happen to be the same photo under different file name? And if not, which one of these two this link points to: https://photos.google.com/lr/photo/AM5r2wYnsaw1qbtygypxbMp6Z8HFluP6Qd5SGk8-HdWRbVwJn4-Kli4SHntlshP0qfA-jcz43mg_HSRm2aGv5LmuFcE

[2020-06-08 10:07] ylexus commented on #37
Thanks, all merged, will be in the next release. Huge thanks for your help!

[2020-06-08 10:07] #37 closed

[2020-06-08 10:10] #33 closed

[2020-06-08 10:50] axylee commented on #34
I checked and yes , both IMG_2579.JPG & IMG_2775.JPG are the same photo with different file name ( no idea why ) . An now I update to 1.1.2 , clean up all the log / data.json / threaddump files , and re-upload again the same folder . let's see how it works . thank you for take a time to check .

[2020-06-08 21:06] Faxanadu2 opened #47 "Privacy"
Hello, thanks for releasing this app, it's very useful batch upload photos onto a google photos. I do however have some concerns about uploading thousands and thousands of pictures to Google photos via this API. What is the level of privacy that you can offer i.e.  the app will not store users' photos and personal data? Thank you so much.

[2020-06-09 01:17] axylee commented on #34
Look like the upload has been completed , only the UI freeze at 551 which is fine .
I dump the threaddump and heapdump and zip the log and data.json for your reference ( the zip is 22MB toot big to patch here , I will mail to you ). Let me know if you need further test or you can close this issue . Once again thank you for your help and great app .

[2020-06-09 17:07] wheleph commented on #31
I confirm that the order of items is correct now.

[2020-06-09 20:45] ylexus commented on #47
@Faxanadu2, the app simply reads the files from the disk and passes them directly to Google Photos API. It also stores file names in the config file in your home directory to support resumed uploads. It does not do anything else to your data. Please read the [Privacy Policy](https://github.com/ylexus/jiotty-photos-uploader/wiki/Privacy-Policy): The Google Photos API is written by Google, so Google

[2020-06-09 21:15] ylexus commented on #34
@axylee I can't see anything abnormal in any of the files. Looks like this UI freeze is a bug in JavaFX specifically on your hardware. Looks like JavaFX is not particularly stable on various hardware. For example, I have #4 - it crashes with some Linux NVidia drivers. I'll have to close this for now - thanks for all your help, we fixed a few things here and added a lot of diagnostics capabilities

[2020-06-09 21:15] #34 closed

[2020-06-12 22:32] #36 closed

[2020-06-12 22:39] ylexus commented on #37
@axylee, [1.2.0](https://github.com/ylexus/jiotty-photos-uploader/releases/tag/1.2.0) is now available with your translation and few bugfixes around the stop button. Thanks for your contribution!

[2020-06-12 22:39] #47 closed

[2020-06-13 08:51] ylexus opened #48 "Allow supplying own Google application credentials to bypass the common request quota"

[2020-06-15 01:18] axylee commented on #37
Both Traditional and simplified Chinese are display fine !  and upload seems more smooth on 1.2.0 . If there is additional feature need to test or translate in the future, please feel free to let me know .

![image](https://user-images.githubusercontent.com/65884869/84609041-c9877e80-aee7-11ea-8c79-e953efb09beb.png)

![image](https://user-images.githubusercontent.com/65884869/84609252-cfca2a80-aee

[2020-06-15 15:09] wheleph commented on #48
@ylexus FYI I'm working on this in my own fork of the project. I think I'll be able to contribute something this or the next week.

[2020-06-15 16:44] ylexus commented on #48
@wheleph excellent, thanks for the effort. I have not thought well about this yet. Maybe something on the login screen that allows to browse for the user-supplied credentials.json and then save this preference in VarStore and allow for resetting it back?

[2020-06-16 16:40] wheleph commented on #48
@ylexus to be clear I haven't started the actual implementation yet. So far I have been researching the topic of Google OAuth. But being a Java developer on sabbatical I'm eager to contribute to the application that I'm using to manage my photo library. But you definitely will be able to implement the feature faster yourself. So if that's something that should be done ASAP (depending if the app is

[2020-06-16 16:49] wheleph commented on #48
Oh, also this might be a stupid question but how can I run the application via gradle? When I try to do it via `./gradlew run` I get an obscure error:

[code]

I have vanilla java on my machine:

[code]

Shall I have some extensions? Maybe something for JavaFX?

[2020-06-16 20:50] ylexus commented on #48
I've just committed a few improvements to build.gradle that should give you the right error. I think you are missing CLIENT_SECRET_PATH env variable (or -DCLIENT_SECRET_PATH command line parameter to gradlew). If you update to the latest, it should be saying more now. If not, check `~/.jiottyphotosuploader/log/main.log`

[2020-06-16 20:58] ylexus commented on #48
There's absolutely no rush here. I think this use case covers a tiny portion of the user base, mainly developers. As you correctly mentioned, getting your OAuth set up is not very trivial. We can certainly create a tutorial which can potentially open this to advanced non-developer users.

Absolutely, the default must be left to use my app's credentials. In fact, that option on the login screen sho

[2020-06-28 13:55] jaytohe opened #49 ""INVALID_ARGUMENT: Request contains an invalid media item id." on existing photos."
Hi and thanks for this great app! It definitely saves me from a lot of trouble. As per the wiki you've written and specifically "If a photo has already been uploaded, will duplicate be created?"--->3, the program should be able to add photos already exist in Google Photos AND that are uploaded again to an album created by Jiotty.

I can't get this to work however and Jiotty spits out an "INVALID_A

[2020-06-28 16:03] ylexus commented on #49
@jaytohe, I've reproduced this. Oh the joys of Google Photos API. This is what's happening. There are two ways you can get a media item into an album.
1. When creating the item using [batchCreate](https://developers.google.com/photos/library/reference/rest/v1/mediaItems/batchCreate), you can specify the album ID. In this case, even if the item was already uploaded via the web interface before, it

[2020-06-28 16:12] ylexus commented on #49
Relevant Google Photos API issues:
1. https://issuetracker.google.com/u/7/issues/134100429
2. https://issuetracker.google.com/issues/132274769

[2020-06-28 17:17] ylexus commented on #49
@jaytohe if you do try 1.0.9 then your items won't be sorted by creation date in albums, obviously. At the moment it's a trade-off, I can't see how I can make both work at the same time.

[2020-06-28 17:22] jaytohe commented on #49
Hi and thanks for your prompt response! I used the workaround (ver. 1.0.9) and it did the trick! I actually don't care that the items aren't sorted by creation date since the images were mostly memes lol. Thanks again.

[2020-06-28 17:45] jaytohe commented on #49
If I understand correctly, in order for the media uploaded to be correctly sorted by date, you re-arrange them based on their date of creation before making the API request and Google won't mess with that order sent,correct? What I don't understand is why not use the old way (method 1) and then to sort it, the user just has to click edit album from the app and then sort by--> oldest first? Will th

[2020-06-28 19:13] ylexus commented on #49
The problem is, I can’t re-arrange them before I upload, as finding out the “date taken” from a media is a complex thing. So I first upload, GP returns me metadata of each item, including “date taken”, I sort by that date and then issue the add to album request. More information on this issue is in #31.

As for using approach (1) and let user sort the items manually, one problem with it is that th

[2020-07-02 11:10] wheleph commented on #49
@ylexus the toggle will certainly be confusing to users but I understand that it's the best we can have for the time being. I'd suggest to keep the old behavior (possibility to add existing media items) as a default since it will lead to less scary errors shown to users. But if someone (like me) prefers to have the other behaviour then their choice should be persisted between invocation of the app

[2020-07-04 19:24] meirion opened #50 "Upload failed, but says "total success""
Firstly. thanks for this, seems like it could be incredibly useful!
Unfortunately I can't get it to work on a small set of test images...

![image](https://user-images.githubusercontent.com/324459/86519616-544b0180-be34-11ea-9d16-604753dc887c.png)

![image](https://user-images.githubusercontent.com/324459/86519626-5f059680-be34-11ea-97c7-27e02dfc3331.png)

[2020-07-04 19:26] meirion commented on #50
My mistake, I poked around and found out I could click on 'Failures' to get more details. turned out my photos storage was maxed out.

![image](https://user-images.githubusercontent.com/324459/86519665-af7cf400-be34-11ea-8e9c-30d97d9e3f0b.png)

Perhaps 'Failures' could look more clickable?

[2020-07-04 19:30] meirion commented on #50
tried again on another account with space available, this time got an error about needing a valid upload token.

![image](https://user-images.githubusercontent.com/324459/86519690-29ad7880-be35-11ea-9c0e-57bc1bc95362.png)

[2020-07-04 20:15] ylexus commented on #50
Interesting, can you please zip and attach here the contents of “~/.jiottyphotosuploader/logs” and “~/.jiottyphotosuploader/data.json” after you’ve reproduced the problem?

[2020-07-04 20:18] ylexus commented on #50
Yes I’ll see if I can decorate it to look more like a link.

[2020-07-05 14:04] ylexus commented on #50
I think I know why it happened. Jiotty remembers upload tokens for files you previously tried to upload, not to re-upload them again. However, when you log out and log in as another google user, those upload tokens are no longer valid. In fact, the whole upload state needs to be invalidated on logout. I’ll fix this.

[2020-07-05 14:10] ylexus commented on #50
@wheleph just in case you’d still want to contribute this one is quite simple. A css change to make links look more like links (underline) and also remove more files on logout (it already removes credentials, just need to also delete data.json).

[2020-07-05 23:16] ylexus commented on #50
Actually, It’s a bit more involved, sorry. I’ve started working on it today.

[2020-07-06 11:05] meirion commented on #50
[Archive.zip](https://github.com/ylexus/jiotty-photos-uploader/files/4878463/Archive.zip)
Sure, here are the files you need.
Let me know when I can try the app again :)

[2020-07-06 12:20] ylexus commented on #50
Thanks. Can you quit the app, delete data.json and then launch the app and try again? If it works this time, then this confirms why I think it fails. It should also fix the problem for you.

[2020-07-06 13:56] meirion commented on #50
OK I deleted the app and emptied the ~/.jiotty... folder
Reinstalled the app, logged in with the correct google account and tried the same test folder of images.
Got different errors this time:

![image](https://user-images.githubusercontent.com/324459/86600664-42826f00-bf98-11ea-819d-10633a2ad91f.png)

New log files
[Archive.zip](https://github.com/ylexus/jiotty-photos-uploader/files/4879318/Arch

[2020-07-06 15:58] ylexus commented on #50
Looks like this time you hit an existing limitation where you are trying to re-upload a photo that's been uploaded manually, or via a different app. It was actually previously possible to do it, but I made it worse later, see #49
To check this is the issue, can you tell me what Google Photos web shows when you click on the information (i) icon on this photo https://photos.google.com/lr/photo/ANo0w

[2020-07-06 16:46] ylexus commented on #50
@axylee can I please ask you to translate the following line in all Chinese resources, like before? Please leave %s placeholder - it will display the value of "progressBoxFailuresHyperlinkText" resource, for example, 错误:
`uploadPaneLogAreaPartialSuccessLabel=Done with some failures, to review click on "%s" links above`

[2020-07-06 17:26] meirion commented on #50
Alright thanks for the explanation, I think I understand. From a novice user POV perhaps the type of thing you could say here could be "X photos skipped which already existed in Google Photos". In my opinion that wouldn't be a failure or error as such, but a notification or info type message.

I checked that photo URL and it says Uploaded by Android.

I must admit I was a bit lost trying to unders

[2020-07-06 17:32] ylexus commented on #50
@

Unfortunately, it's impossible to devise what the cause of this error is. All I get from Google Photos is the generic "INVALID_ARGUMENT" error, so assuming this error means exactly what you said above may confuse a user, if the actual cause is different.

In order to understand this, you need to read through issue #49. In short, with current Google Photos API, Jiotty can either
1. add pre-exist

[2020-07-06 17:36] meirion commented on #50
OK I did a test, I edited the 4 images on my machine and cropped them so that they are visually different from the ones already uploaded.

I ran the upload again and it didn't show any errors this time.
However the new edited photos or the albums are neither appearing in Google Photos.

Latest from the log:

`2020-07-06T17:29:40,976 INFO [JavaFX Application Thread] n.y.g.c.CloudAlbumsProviderImpl

[2020-07-06 17:37] meirion commented on #50
Sorry that's some pretty terrible formatting, don't know why that happened.

[2020-07-06 17:40] meirion commented on #50
Right, renamed all the photos and they all uploaded and the albums appeared - so it just needs unique filenames?

what happens if you've got dupe filenames in your collection? eg things like DSC0001.jpg etc?

[2020-07-06 17:47] ylexus commented on #50
Also see #49

The reason Jiotty did not even attempt to upload them again was because you left the "resume from last attempt" checkbox on when trying again. It rightly did not attempt to upload the files that it already uploaded. It doesn't know you edited them. Although possible, I don't think I'll be supporting the file change detection yet.

They will all be uploaded. There is no requirement fo

[2020-07-07 09:35] axylee commented on #50
Sure , I am travel this few days , I will finished it by this week . So I just edit the files in "code " , to create a new branch , then pull request ?

![image](https://user-images.githubusercontent.com/65884869/86760775-0e7e7b00-c078-11ea-9383-8a2496066c62.png)

[2020-07-08 20:57] ylexus commented on #50
@axylee yes, sounds right. Thanks for your help!

[2020-07-08 23:29] ylexus commented on #49
OK this is done. @axylee there are also phrases to be translated for this issue too (added quite  bit of text). Maybe you could do the ones for #50 and this one together when you're back from your travels.

[2020-07-08 23:35] ylexus commented on #49
Fixed in 1.3.0, Chinese/Dutch translation pending in 1.3.1

[2020-07-08 23:35] ylexus commented on #50
Fixed in 1.3.0

[2020-07-08 23:52] ylexus opened #51 "Build does not fail under macOS when notarisation script fails"

[2020-07-09 10:01] axylee commented on #49
I don't quite understand this
![image](https://user-images.githubusercontent.com/65884869/87026256-11ab6f80-c20e-11ea-83b5-4ad53022d6a3.png)

Does this conflict with this ?
![image](https://user-images.githubusercontent.com/65884869/87026326-2c7de400-c20e-11ea-80ec-2927577795fa.png)

[2020-07-09 10:03] ylexus commented on #49
Yes it does, thanks for noticing. Please ignore the wiki - I’ll need to update it.

[2020-07-13 00:19] #51 closed

[2020-07-16 10:27] ylexus opened #61 "Add an option to manually delete empty albums"
To be helpful and cover scenarios like the one described here:

https://www.exler.ru/likbez/google-photos-kak-polzovatsya-i-vsyakiye-khitrosti.htm#nuoq

[2020-07-16 16:47] ylexus opened #62 "Allow specifying white list of folders/files"
On the back of https://www.exler.ru/likbez/google-photos-kak-polzovatsya-i-vsyakiye-khitrosti.htm#nuzu

[2020-07-21 00:36] ylexus commented on #62
@axylee thanks for helping the project with translation! Some more work or you - if you check all Chinese resources, I've added #TODO translate tokens before each phrase that needs translation. Could you work on these please?
Also always wanted to ask: do you think it is enough to have zh_HANS and zh_HANT, and remove the rest?

[2020-07-21 01:36] axylee commented on #62
For what i know , zh_HANS and zh_HANT are the new tag , most of system may not recognize yet , it's good to keep the others until we tested on all supported platform .

[2020-07-23 19:57] #62 closed

[2020-07-23 19:57] ylexus commented on #62
Released in [1.4.0](https://github.com/ylexus/jiotty-photos-uploader/releases/tag/1.4.0)

[2020-07-24 07:31] axylee opened #64 "1.4.0 Windows 10 install error"
1.4.0 install in Windows 10 fail

![image](https://user-images.githubusercontent.com/65884869/88369449-a7c0c780-cdc2-11ea-968a-ec7c4b25e570.png)
![image](https://user-images.githubusercontent.com/65884869/88369480-b60ee380-cdc2-11ea-9cac-1964f00a9060.png)

[2020-07-24 10:05] ylexus commented on #64
Seem like my code signing certificate issuer is having issues with their timestamping server. I've submitted a support ticket for them:

I am creating Windows MSIX packages signed with my sectigo/comodo certificate. Last time it worked well was 9 July 2020. Today (24 July 2020), when I create an MSIX package for the same application, it succeeds (no errors in the MSIX Packaging Tool logs), but the

[2020-07-24 10:06] ylexus commented on #64
I've removed the Windows 10 package from the release page - it's broken anyway.

[2020-07-25 19:32] ylexus opened #65 "Report explicit error if incompatible config format is detected"

[2020-07-25 19:32] ylexus commented on #65
So that this does not happen:
[main.log](https://github.com/ylexus/jiotty-photos-uploader/files/4976277/main.log)

[2020-07-25 23:04] ylexus opened #66 "Improve progress bars"
1. "Uploading media files" can now display precise percentage
2. "Processing folders" is not needed anymore

[2020-07-25 23:08] ylexus opened #67 "Icon is displayed with scaling artefacts in Windows 10 MSIX installer window"

[2020-07-26 09:12] ylexus commented on #64
Indeed it's because of the timestamping server issues:

---
Thank you for contacting Sectigo Technical support.

We are sorry for the delay in response.

Yes, there is a issue with the timestamp server and our team is investigating the issue. We will get back to you with an update at earliest.

Please let us know if you need any further support.

[2020-07-26 16:56] ylexus commented on #65
@axylee could you translate a single phrase please that I added for this issue? Not that I found a way to remove the resource file duplication; there is now only two files: HANS and HANT. All the other locales that you added will be automatically forwarded to one of these two. Easier for you!

[2020-07-26 17:50] #66 closed

[2020-07-27 06:16] axylee commented on #65
LoL , you are the man !  Done translate and pull request .

[2020-07-27 20:55] ylexus commented on #64
Fixed in [1.4.1](https://github.com/ylexus/jiotty-photos-uploader/releases/tag/1.4.1)

[2020-07-27 20:55] #64 closed

[2020-07-27 20:56] #65 closed

[2020-07-27 20:56] ylexus commented on #65
Fixed in [1.4.1](https://github.com/ylexus/jiotty-photos-uploader/releases/tag/1.4.1)

[2020-07-27 20:57] ylexus commented on #50
This one is pending Dutch translations, but will close as these depend on voluntary work by others and are not guaranteed.

[2020-07-27 20:57] #50 closed

[2020-07-27 20:57] #49 closed

[2020-07-28 03:36] axylee commented on #65
Seems the local re-direction not work .
![image](https://user-images.githubusercontent.com/65884869/88616351-8dd6fb80-d0c6-11ea-9818-44f2f546d30d.png)

[2020-07-28 17:46] ylexus commented on #65
@axylee what is your windows display language in language settings?

[2020-07-28 17:46] ylexus commented on #65
@axylee and preferred languages?

[2020-07-29 01:23] ylexus commented on #65
@axylee apparently HANS and HANT have to be named as Hans and Hant. Fixed now in [1.4.2](https://github.com/ylexus/jiotty-photos-uploader/releases/tag/1.4.2). CHS/CHT are still not properly forwarded in 1.4.2. Will fix in future versions, don't think it's urgent.

[2020-07-30 07:38] axylee commented on #65
My is Chinese Taiwan , should be zh_TW , which is Chinese traditional .

[2020-07-30 09:42] axylee commented on #65
Its work now , in 1.4.2

![image](https://user-images.githubusercontent.com/65884869/88908058-ffac7200-d28b-11ea-9c2f-f674b1472943.png)

[2020-07-30 10:27] ylexus commented on #65
Thanks for checking! I verified too by setting Windows interface language to Hong Kong SAR, which for some reason resulted in zh_TW_#Hant locale (was expecting zh_HK_#Hant). But whatever, it's the same thing anyway and it works.

[2020-08-11 21:05] RickyCox opened #69 "another copy of the app is already running - error"
Hi. I’ve been using your great utility for a week or so and its been working fine.
But when I came to run it today, I got this error mgs:
another copy of the app is already running
so I looked in Task manager, and I could not see any evidence of this. So I rebooted and still got the same msg when I restarted. I’ve uninstalled and reinstalled, tried removing all references to Jiotty photos uploader

[2020-08-11 23:41] ylexus commented on #69
Can I ask you to try running the app, get the error, click OK in that dialog, and then attach here the log file - `%USERPROFILE%\.jiottyphotosuploader\log\main.log`?

[2020-08-12 10:58] RickyCox commented on #69
Hi Alexey

Thanks for your quick support response.

I ran the program today and it would not reproduce the error dialogue – nothing appeared to happen

So I attach 2 logs: from today and also from 2 days ago when I was getting the “another copy of the app is already running” error.

Regards Richard

From: Alexey Yudichev <notifications@github.com>
Sent: 12 August 2020 00:42
To: ylexus/jiotty-photo

[2020-08-12 11:42] ylexus commented on #69
Hi, it seems like you replied to the email and that added a reply to this GitHub issue, which I didn’t know you could do! Unfortunately, the attachments were lost. Could you just open this issue on github website and drag the files onto the comment box so that they are attached to the issue, instead of attaching to the reply to the notification email?

[2020-08-12 12:07] RickyCox commented on #69
Hi. I had to add a .txt extension before GitHub would accept these files. R

[main.log.2020-08-10-06-02.txt](https://github.com/ylexus/jiotty-photos-uploader/files/5062520/main.log.2020-08-10-06-02.txt)

[main.log.txt](https://github.com/ylexus/jiotty-photos-uploader/files/5062512/main.log.txt)

[2020-08-12 12:38] ylexus commented on #69
The file with the date is the normal upload session, no problems there, this file is from the times when the app was working. The other one indicates a corrupted database/config file. Would you be able to email me this file `%USERPROFILE%\.jiottyphotosuploader\data.json` to alexey@yudichev.net? Reason I am asking to email is that this file may contain your file names which you may consider private

[2020-08-12 15:40] ylexus opened #70 "Migrate json based state storage to something more reliable and faster like h2"
Currently, the whole VarStore (can be tens of Mb or more) is encoded to JSON and saved to disk on **every** file upload. This is inefficient. Also, couple of users experienced corrupted JSON files (for example, see https://github.com/ylexus/jiotty-photos-uploader/files/5062512/main.log.txt). Something like H2 is more suited for these needs.

[2020-08-12 15:42] ylexus commented on #70
The advantage of keeping it in json is you could easily ask a user to send it to you for analysis and see inside it to ensure they are not sending something super-confident.

[2020-08-17 10:31] marcovanree opened #71 "FR: Option to add files from subfolders to main album"
photo folder
 - folder1
 - - folder2
 - - - photo1.jpg
 - - - photo2.jpg
 - - folder3
 - - - photo2.jpg
 - folder4

Like the example
all files in folder 1 including subfolders (folder2 and folder3) will be added to album "folder1"

In this case you will have 2 albums, Folder1 and Folder4

[2020-08-17 10:34] marcovanree opened #72 "FR: a CLI option to run the program with parameters"
CLI option, then i can run it each night by a cron command to backup my photo folder

[2020-08-17 10:48] marcovanree opened #73 "macOS: standard About dialog is somehow accessible"

[2020-08-17 10:50] marcovanree commented on #73
Can't find a donate option :)
But i can't use it for now but following.

Because my folder structure is different, see the other ticket :)

[2020-08-17 11:46] ylexus commented on #73
The option is in the File-About dialog. It also appears on the upload screen where the progress bars are. Are you saying they are not there for you or they don’t work?

[2020-08-17 11:48] marcovanree commented on #73
No Button there on a .Mac :)

Op ma 17 aug. 2020 om 13:46 schreef Alexey Yudichev <
notifications@github.com>

[2020-08-17 15:41] ylexus commented on #73
It’s a link, not a button, to be clear. It’s very strange.  Can you send me a screenshot (via GitHub, email attachments don’t work apparently) of Apple menu - About Jiotty Photos Uploader, and of the upload screen? Which version are you using? The version is displayed in the About dialog. Very old versions don’t have the donate link or About menu. Ensure you download the latest.

[2020-08-17 15:44] ylexus commented on #72
Interestingly, the program can already be run as a CLI, but it's not easy to find the executable. Which OS are you interested in most, Mac?

[2020-08-17 15:50] ylexus commented on #71
Should be doable. I'm on a holiday at the moment. Will work on this when I come back and find free time.

[2020-08-17 15:52] marcovanree commented on #73
<img width="603" alt="Schermafbeelding+2020-08-17+om+17 50 57" src="https://user-images.githubusercontent.com/3136441/90416135-5ef2ea80-e0b2-11ea-9c1e-6532c3758ab3.png">

this menu ?

[2020-08-17 15:55] marcovanree commented on #72
I think something like linux, so i can run it on my home server where the photos are :)
But i can install a vm for it with ubuntu or windows or maybe a docker container.

More options that i can use, but how can i use it ? :)

[2020-08-17 15:55] marcovanree commented on #71
Nice then i will wait for that option :)

[2020-08-17 15:56] marcovanree commented on #73
but i didn't see a link on github or wiki ? :)
maybe you can put the link there too.

[2020-08-17 16:01] ylexus commented on #73
Fascinating :). Maybe it’s a bug with Dutch translation. Will have a look when I get back from a holiday. Thanks for reporting.

In the meantime, this is the donation link: http://paypal.me/yudichev

[2020-08-18 10:46] ylexus commented on #73
Added the donation link to the wiki.

[2020-08-21 06:11] DanBaur17 opened #74 "Album is not created"
Hi

I was looking for an app that uploads folders as albums to Google Photos.
Uploading the photos works, but creating and adding an album doesn't work.

What could be the reason?
Many thanks for the answer

Daniel

[2020-08-21 08:22] ylexus commented on #74
This is the primary functionality of this app and it indeed does work. I’ll need more details to help. What folder do you select on the first screen? What is your folder structure? What is the result? Please zip and attach the logs from <home>/.jiottyphotosuploader/logs.

[2020-08-26 19:44] ylexus commented on #73
@marcovanree I am really curious how you managed to open that dialog? I even recorded a video of me clicking Apple - About and seeing a completely different dialog, with the donation link on it: https://www.youtube.com/watch?v=MNi3Z01q76M

[2020-08-26 19:47] marcovanree commented on #73
I will make a Video or More Screenshots about it this week 😄👍🏻

Op wo 26 aug. 2020 om 21:44 schreef Alexey Yudichev <
notifications@github.com>

[2020-08-30 18:20] ylexus opened #75 "i18n for MacOS standard menu items"

[2020-08-30 18:23] ylexus commented on #75
@axylee would you help again please? Just need a few translations in src/main/resources/menu_labels_zh* files. %s there is the name of the app "Jiotty Photos Uploader". Thanks!

[2020-08-30 18:27] ylexus commented on #75
@marcovanree I wonder if you'll be able to help with Dutch translation of a few new phrases in the app? The previous person who used to help me with Dutch translation is off the radar now. If you can do it, then could you let me know you you're able to create GitHub pull requests and push the files, or instead prefer me to send you the text to be translated via GitHub comments like this one?

[2020-08-30 18:34] marcovanree commented on #75
Yes i can help you with that, i am a php Developer so i know to work with
git and pull requests. Last week i had vacation but can help now.

Kind regards Marco

Op zo 30 aug. 2020 om 20:27 schreef Alexey Yudichev <
notifications@github.com>

[2020-08-30 18:42] ylexus commented on #75
@marcovanree perfect! I actually found that some of the MacOS menus are not translated when I made a video for you in #73! Could you please translate the __values__ (i.e. text after the equals sign) in the following files:
1. src/main/resources/menu_labels_nl.properties
2. src/main/resources/i18n/Resources_nl.properties - ONLY for properties marked with a #TODO comment

Much appreciated!

[2020-08-30 18:45] ylexus commented on #72
I am back from vacation, but too much stuff accumulated while I was away. I hope to get to this in a few days.

[2020-08-30 18:49] ylexus commented on #73
It may be enough to just tell me what you pressed/clicked to get to the About dialog in your screenshot... The dialog you see is the standard one JavaFX or package adds to a GUI macOS app. I though I overrode it, but clearly it's still there somehow.

[2020-09-02 06:46] marcovanree commented on #73
Ah now the donation link is there, and more info text.
Maybe the translation was not set correctly the first startup ?

i haven't it installed again, so wierd :)

[2020-09-02 06:47] marcovanree commented on #73
https://puu.sh/GopZD/388704fdf9.png

[2020-09-02 10:54] ylexus commented on #73
You did manage to invoke that dialog somehow, and I know that it does exist in the app (see previous comments), so I’d like to keep it open for now. Do you have any idea what you might have done differently to get that about dialog?

[2020-09-02 10:58] ylexus commented on #73
Is it likely that you still have the logs from the time you reproduced it? Will you be able to send me all the logs from `~/.jiottyphotosuploader/logs`? As a zip here or email to alexey@yudichev.net?

[2020-09-02 11:02] marcovanree commented on #73
Found it and have seen it again after i did a logout.
But have seen it once, Just clicked "Jiotty Photos Uploader" => About Jiotty Photos Uploader

I will send you the logs today

[2020-09-08 08:27] axylee commented on #75
Somehow I miss this notice , I will work on it these few days .

[2020-09-08 08:30] marcovanree commented on #75
The dutch translations are almost done, i will make a PR today

[2020-09-09 00:02] ylexus commented on #73
I found where the simple About dialog is coming from and I removed any references to it, also rationalising the way MacOS menu is built

[2020-09-09 00:02] #73 closed

[2020-09-09 17:27] #75 closed

[2020-09-09 20:56] ylexus commented on #72
@marcovanree I am going to release a preview version of the CLI, but it's time consuming (and currently manual) to release for each platform, how about I do it for macOS only (fastest for me as I work on macOS), and then if you like it I'll release for all platforms?

[2020-09-10 07:12] marcovanree commented on #72
Ok, i can test it on the Mac then but i will not use it one the Mac.
On the Mac i use the gui interface.
I was thinking to set this up on my NAS or something :)

But i can still not use the program, waiting for ticket #71 because of my album structure on disk
But i will be able to test stuff 👍

[2020-09-10 07:26] ylexus commented on #72
I’ve almost finished with #71 too. I’ll ask you some questions about it too.

[2020-09-11 18:17] ylexus commented on #71
@marcovanree, will this work for you? In your example, it'll do what you want if you set this new option to "2". "1" is the root level, i.e. the "photo folder", "2" is the level of "folder1" and "folder4" etc.

It sounds like I'll also need some graphic/picture, or simply a link to the wiki, to explain how this works.

![image](https://user-images.githubusercontent.com/6009806/92958876-e853cd80-f4

[2020-09-11 18:32] marcovanree commented on #71
- folder1
 - - folder2
 - - - photo1.jpg
 - - - photo2.jpg
 - - folder3
 - - - photo3.jpg
 - folder4
- - photo4.jpg

So if i set it on 2, and if there is a root and photo folder then above example will create 2 albums ?
folder1 with images photo1.jpg, photo2.jpg, photo3.jpg and folder4 with image photo4.jpg ?

that's what i am looking for :)

If i point your program to the folder where all my albu

[2020-09-11 18:49] ylexus commented on #71
Yes, this is exactly what it will do.

Well, I could have a checkbox called "use only top level folders as albums" - this is definitely easier to understand, you are right. Still, some users will not understand anyway, I am sure :-). So I'll leave it as is and will have a link to the wiki with help. This whole thing is only for a very small amount of users.

[2020-09-11 22:28] ylexus commented on #71
@marcovanree can you please:
1. translate some new resources marked with `#TODO translate` to Dutch? They are new phrases to support this new functionality, as well as some previous omissions - there are not many of these.
2. download this beta release https://github.com/ylexus/jiotty-photos-uploader/releases/tag/1.5.0-beta1 and test both this issue and #72? Please ignore the upgrade notification

[2020-09-13 09:03] marcovanree commented on #71
Yes :) i'm going to test this

[2020-09-14 20:54] ylexus commented on #72
Released in [1.5.0](https://github.com/ylexus/jiotty-photos-uploader/releases/tag/1.5.0)

[2020-09-14 20:54] #72 closed

[2020-09-14 20:54] ylexus commented on #71
Released in [1.5.0](https://github.com/ylexus/jiotty-photos-uploader/releases/tag/1.5.0)

[2020-09-14 20:56] ylexus commented on #71
I'll leave it open for a while in case @axylee and @marcovanree you guys wanted to translate the new phrases :)

[2020-09-15 18:18] marcovanree commented on #71
Works nice :D,
I have test this with different levels and works perfect.
Will make the translations tomorrow.

[2020-09-24 18:50] ylexus commented on #71
@marcovanree @axylee would you be able to submit the translations - there is only a few new ones marked with #TODO. Thanks.

[2020-09-25 11:33] marcovanree commented on #71
Sorry, I thought I already did :)

And 'Stop upload' is a good dutch translation :)

[2020-10-01 17:48] ylexus commented on #71
@marcovanree thanks, released in 1.5.1

[2020-10-01 17:48] #71 closed

[2020-10-01 17:54] ylexus commented on #69
@RickyCox, are you still interested in this? The only conclusion I can make from the logs is that there's a possibility for the database to be corrupted, and to cover that I've raised #70. I'll close this issue for now - please comment if you are still having  the original "another copy of the app is already running" issue.

[2020-10-01 17:54] #69 closed

[2020-10-23 16:56] ylexus opened #80 "logs are not rotated properly and stay forever occupying disk space"

[2020-10-23 16:57] ylexus commented on #80
When implementing, do not forget to add code to clean up logs matching old format pattern

[2020-10-23 16:59] ylexus opened #81 "Confusing error: "The upload was completed but failed to finalize or get the result""
Screenshot:
![image](https://user-images.githubusercontent.com/6009806/97032206-59ee6380-1559-11eb-8be4-a6ac4c5888ea.png)

Log:
[main.log](https://github.com/ylexus/jiotty-photos-uploader/files/5430824/main.log)

[2020-10-23 20:53] #80 closed

[2020-10-24 21:44] ylexus commented on #81
Caused by https://github.com/google/java-photoslibrary/issues/39. I'll see if I can work around it to show a better error message.

[2020-10-29 19:39] ylexus commented on #81
@marcovanree, @sngnr would you be able to translate a single new in your respective languages in under src/main/resources/i18n?

[code]

It's an error message that is printed when the file that the user tries to upload has a length of 0.

Thanks!

[2020-11-03 09:05] marcovanree commented on #81
Sure, will do that tomorrow

[2020-11-08 11:44] sngnr commented on #81
raised PR.

Sorry for the delay.

________________________________
From: marcovanree <notifications@github.com>
Sent: Tuesday, November 3, 2020 5:05 PM
To: ylexus/jiotty-photos-uploader <jiotty-photos-uploader@noreply.github.com>
Cc: sngnr <eric.chen@hotmail.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [ylexus/jiotty-photos-uploader] Confusing error: "The upload was completed but fail

[2020-11-09 22:05] ylexus commented on #81
@marcovanree, would you be able to translate please?

[2020-11-10 21:23] marcovanree commented on #81
Sorry was very busy last week. Will try this coming data.

Op ma 9 nov. 2020 om 23:05 schreef Alexey Yudichev <notifications@github.com

[2020-11-12 15:24] ylexus commented on #81
Thanks @marcovanree and @sngnr for your translations, this can now be closed.

[2020-11-12 15:24] #81 closed

[2020-12-21 12:12] martonthenagy opened #84 "Add a tip on compressing after upload"
As [grantpinkerton](https://github.com/grantpinkerton) commented on Apr 23 on [issue 22](https://github.com/ylexus/jiotty-photos-uploader/issues/22), it would be great that everyone should know that it is possible to recover their storage in a very easy way. I just copied that commend, and suggest to include it as a tip or in the faq, or wiki.
This option will probably be removed or changed by Goo

[2020-12-23 13:39] ylexus commented on #84
Thanks, I've updated the wiki with this lifehack!

[2020-12-23 13:39] #84 closed

[2020-12-25 19:59] ylexus commented on #61
Impossible until https://issuetracker.google.com/issues/135714733 is implemented.

[2020-12-25 20:07] ylexus commented on #61
Draft work pushed to respective branch.

[2021-01-19 10:06] Cantolla opened #85 "Error with special character ratio (∶)"
File names with the ratio (∶) character will be substituted with (?) character when uploaded with Jiotty Photos Uploader.

Character is correctly shown in the description of the image.

Uploading manually will result in a correct file name.

[2021-01-19 10:07] Cantolla opened #86 "Possibility to personalize subfolder names"
Currently subfolders are named FOLDER : Subfolder : Subsubfolder.

Ability to choose to other formats such as FOLDER_Subfolder_Subsubfolder or FOLDER - Subfolder - Subsubfolder (For example)

[2021-01-19 10:08] Cantolla opened #87 "Continuously monitor folders and automatically upload new files."
Ability to monitor a file continuously/after X time/ etc, adding files to those folders will upload the files to the corresponding Album.

Alternatively be able to create an upload set, to avoid having to browse/choose the folder each time.

[2021-01-22 23:30] ylexus commented on #85
Can I clarify where you see substituted characters? I just tried it on macOS and this is how it looks after the upload:
![image](https://user-images.githubusercontent.com/6009806/105559399-f7983100-5d08-11eb-9a73-ccfab18b33c7.png)

Tried under OpenSUSE Linux and it's the same. Can you provide a screenshot and/or more details about where you see the question mark?

[2021-01-22 23:47] Cantolla commented on #85
If there is any confusion I am not using a colon, as apple considers it a prohibited character for file names.
I am using a ratio character which looks similar to it.

As you can see in the screenshot the Description shows the ratio character correctly, but no in the file name. Works correctly when uploaded manually.

![Screenshot 2021-01-23 at 00 44 50](https://user-images.githubusercontent.com/7

[2021-01-23 22:53] ylexus commented on #85
Actually, APFS on macOS allows for colons in file names, you can create such files in Terminal. It's just Finder does not allow to enter them nor it shows them properly.

Anyway, I've fixed this, will release new version shortly.

[2021-01-23 22:54] ylexus commented on #86
Done, new option in preferences is the delimiter to use between folder names. Will be in next release.

[2021-01-23 22:59] ylexus commented on #87
Continuous monitoring would transform it to a sync app, while for now it's a simple uploader. It's also quite a lot of work to do it properly.

Avoiding to browse/choose folder each time is something I contemplated, as if you're doing many retries it's a little annoying. I could allow for creation a set of root to upload, then store them, so that they are still there every if you restart the app.

[2021-01-24 06:35] Cantolla commented on #85
I was not aware of that, will keep in mind.

In any case I use Hazel to rename my photos and the number of files to rename would make it unfeasible to change again to colons.

Thank you very much for fixing the issue.

[2021-01-24 06:35] #85 closed

[2021-01-24 06:37] Cantolla commented on #86
I appreciate the personalized capabilities.
Thank you very much!

[2021-01-24 06:46] Cantolla commented on #87
That would be a great solution, if you could select one or more folders that the uploader would remember, essentially creating a "backup set" that would make things much smoother/faster.
I'd greatly appreciate it.

[2021-01-24 12:10] ylexus commented on #86
I'll keep it open, I as I'll need help with translations of new resources from other people. By the way, @Cantolla do you speak any other language than English? Would you mind help translating the app to your language?

[2021-01-24 12:19] Cantolla commented on #86
I do, I am fluent in Spanish.
I'd be happy to help, email me with any translations you may need.
Do you want to translate to a specific language? Depending on the language I might know someone.

[2021-01-24 12:33] ylexus opened #88 "Translate to Spanish"

[2021-01-24 12:35] ylexus commented on #86
Great, thanks. I've created issue #88 for this - let's continue there. I'll add instructions.

[2021-01-24 12:47] ylexus commented on #88
@Cantolla thanks for agreeing to help with Spanish translation. After you've helped with the initial bulk of translations, I may ask you to do one or two phrases, for example, I'll need new phrases for preferences dialog as a result of adding folder delimiter capability here.

I know you're new to GitHub, but this is where the world's developers build their (mostly open source) software and collab

[2021-01-24 17:20] Cantolla commented on #88
I was playing around a bit to see how GitHub works, I think I got down the basics.

I do have one question.
![Screenshot 2021-01-24 at 18 09 13](https://user-images.githubusercontent.com/77668116/105637924-4ca28700-5e70-11eb-94f9-16eb48dbc793.jpg)
Which should I choose?

Doesn't seem to be that much to translate, I will get to it as soon as I have some free time!

[2021-01-24 17:21] ylexus commented on #88
Use the first option, commit directly to master branch. Thanks!

[2021-01-24 17:29] Cantolla commented on #88
Just translated something as a test. Please, confirm I did it correctly.
Last question, do I have to create a pull request any time I translate something or will it get updated automatically?

[2021-01-24 19:54] ylexus commented on #88
Yes, all is correct. I've just realised that keeping a fork up to date is a complex thing that cannot be done in GitHub web interface. Can I ask you to commit what you've done so far and raise another pull request, and then try to do the edits directly in this repository, and not in your fork? I've just invited you to become a collaborator, I think once you've done it, you will be able to create p

[2021-01-24 19:56] ylexus commented on #88
To answer your question about the pull request, you do not need to create a new one if the previous one has not yet been merged (i.e. accepted and deleted). If the previous one has already been merged, then you'll have to create a new one.

What I'll do is I'll try this whole journey using a different GitHub account and see if it's straightforward.

[2021-01-24 20:11] ylexus commented on #87
This is now done. Please don't close as I'll need some new translations.

@marcovanree, @sngnr, could you please translate a small amount of  new phrases in `src/main/resources/i18n`? I've marked them with TODO. I've also invited your as collaborators to simplify the process - you do not need to use forks, just create branches right here and create pull requests from those branches to master. Than

[2021-01-24 20:34] ylexus commented on #88
@Cantolla all works - please forget your fork (commit all pending work and create pull request, wait until I merge it and can delete your fork after), and continue translating on this repository directly. A little easier.

[2021-01-24 20:48] Cantolla commented on #88
Appreciate the clear instructions.
Could not commit to the master branch (Option was blocked) but I think I did it correctly.
Just did another small test.
Please confirm everything is set correctly.

[2021-01-24 20:51] ylexus commented on #88
@Cantolla I left a comment on the pull request

[2021-01-24 23:27] ylexus commented on #87
Released in https://github.com/ylexus/jiotty-photos-uploader/releases/tag/1.6.0. Feedback welcome. Translations pending.

[2021-02-01 22:54] #88 closed

[2021-02-01 22:55] #86 closed

[2021-02-06 23:26] ylexus commented on #87
Released with translations in 1.6.1. @Cantolla does it work well for you?

[2021-02-06 23:26] #87 closed

[2021-02-23 11:45] keiranharris opened #95 "Does Jiotty honour star rating EXIF data?"
Hey, great work on this code. Not really an ‘issue’ as such, but more of a question (that may turn into a feature request).

I am hoping to use your program before the june quota kicks in. I was wondering / hoping that your code handles translating star ratings embedded in images EXIF data.... and if a star exists (any would do, 1 star, 2 star.... 5 star), mark it as a FAVOURITE in google photos ?

[2021-02-24 15:41] sefagurel opened #96 "Problem with images missing "original date time" exif data"
Hello,

This app has saved my day. I just want to give information about a problem.

If "original date time" exif data is missing, it uploads with today's date. When I upload it to Google Photos via the web if there is no exif data, it uploads with the "last modification date" information.

Thank you.

[2021-02-24 15:49] ylexus commented on #96
What do you mean by "last modification date" here?

[2021-02-24 15:56] sefagurel commented on #96
if there is no exif information, google uses modified date data.

as an example the "modified" field in the picture

<img width="341" alt="Screen Shot 2021-02-24 at 18 51 34" src="https://user-images.githubusercontent.com/5000057/109026987-61717500-76d1-11eb-9134-bc0e8436c67e.png">

[2021-02-24 16:33] ylexus commented on #96
Unfortunately, this is limitation number 3 as documented here: https://github.com/ylexus/jiotty-photos-uploader/wiki#limitations.

[2021-02-24 16:34] ylexus commented on #96
Duplicate of #32.

[2021-02-24 16:34] #96 closed

[2021-02-26 01:32] ylexus commented on #95
Hi. There is no way to mark a photo as favourite using Google Photos API. All I can try to do is add such photo to a specific album. I don't see though how you can then mark all photos in the album as favourites - can't do it in the app at least.

[2021-02-26 07:58] keiranharris commented on #95
Thanks for getting back to me and filling me in on the API limitations.

The folder thing is a good idea - you got me thinking i could actually do this myself..... [although my starred pics are currently scattered in amongst the normal pics in any given folder/event, so id have to do exporting of just starred pics to a given folder and then upload that with your program. .... but google’s duplicat

[2021-02-26 08:18] ylexus commented on #95
It won’t trip, it will actually do what you want, i.e. you’ll have a single photo in two albums. When you upload a duplicate, it succeeds, it just doesn’t create a duplicate. Hope it makes sense.

[2021-02-26 08:19] ylexus commented on #95
There’s a FAQ entry about duplicates - please read.

[2021-02-26 10:18] keiranharris commented on #95
Right, so i assume you mean this >>> “ If a photo or video has been uploaded by this app, and you selected not to resume uploads, Jiotty will upload it again, but Google Photos will match it to the previously uploaded photo, and no duplicate will be created.”  So given what you say, i assume the first folder upload which creates an album will have the pic, and then any subsequent albums that also

[2021-02-26 19:46] ylexus commented on #95
Yes, all correct. You will end up with a single photo in more than one album.

[2021-04-25 05:16] keiranharris opened #97 "feature request: add current file that Jiotty is working on"
Hi again. I am still working through my photo uploads (plan to drop you some cash when I am finished BTW!)... but have hit a problem.

Jiotty is stuck on photo number #463 out of 703. I have tried killing and restarting the app.. .but again gets stuck on that same file.... it may be a problem with the file on the media (removable hard drive), but I have no way of knowing what file that is. "Failur

[2021-04-25 17:35] ylexus commented on #97
@keiranharris as for hanging - can you make it hang, then do this (Alt is Option on macOS):
1. press Ctrl+Alt+Shift+T
2. press Ctrl+Alt+Shift+H (then press OK in the popup)
3. go to ~/.jiottyphotosuploader/ and zip the following files and directories:
    1. data.json
    2. heapdumps
    3. log
    4. threaddumps
4. Send them all to me - alexey@yudichev.net (of share via private cloud and email m

[2021-04-25 17:38] #95 closed

[2021-04-25 17:41] ylexus commented on #97
Just realised that my dev certificate the I sign my WIndows 10 binaries with expired and it's about £70 to renew for a year. Too much to just add a convenience of seeing a file that's being uploaded. I'll still do it, but maybe only release macOS, Linux and Windows 7 binaries. I'll decide later.

[2021-04-25 23:46] keiranharris commented on #97
Ahh amazing. Thanks for your prompt response. Bugger about the windows signing cost, im mac so can happily accept your compromise ;-)

i just tested your heap dump steps. Works great. I just need to reproduce the error now which might take me a day or two.

BTW- i figured there would be a total rush on people using your code as the june 1st quota change approaches. Perhaps people dont know about i

[2021-04-29 23:54] ylexus commented on #97
Released https://github.com/ylexus/jiotty-photos-uploader/releases/tag/1.7.0 as a pre-release (simply because there is no Windows 10 binary) - you can try it.

[2021-05-06 04:42] keiranharris commented on #97
Just tested it! Works awesome. Great code update experience too. You really are smashing this as a sole dev! Will let you know where we get stuck on if you want? (But this is probably a great support avoidance feature for you hopefully allowing people to fox their own filesystem mess)

[2021-05-06 07:34] ylexus commented on #97
Thanks. If you get stuck, please follow the diagnostic steps I outlined earlier and send the data to me.

[2021-05-06 20:20] ylexus commented on #48
I've started working on this.

[2021-05-10 21:09] ylexus commented on #48
Released as [1.8.0](https://github.com/ylexus/jiotty-photos-uploader/releases/tag/1.8.0) - still not able to release Windows 10 installators, all other OSes are fine.

[2021-05-11 10:52] ylexus commented on #48
Dear @marcovanree @sngnr @Cantolla!

I have a small number of new phrases to to translate for Jiotty Photos Uploader after I added support for specifying custom Google API Client Secret. Could you please do it - the files are in their usual place - https://github.com/ylexus/jiotty-photos-uploader/tree/master/src/main/resources/i18n. You are all registered collaborators, so it’s easy to just transl

[2021-05-13 14:27] snairolf opened #98 "Upload stalling w/o reaching daily quota limits"
My uploads are stalling and don't make any progress over several hours.

The logs show:
- com.google.api.gax.rpc.ResourceExhaustedException: io.grpc.StatusRuntimeException: RESOURCE_EXHAUSTED: Quota exceeded for quota metric 'Write requests' and limit 'Write requests per minute per user' of service 'photoslibrary.googleapis.com' for consumer 'project_number_XXX'

[2021-05-13 15:28] snairolf commented on #98
Here are some other errors and the exception stack trace:
2021-05-13T15:05:05,192 DEBUG [upload-pool-0] n.y.g.c.BackingOffRemoteApiExceptionHandlerImpl Retryable exception performing operation 'create media items', backing off by waiting for 1860ms
com.google.api.gax.rpc.InternalException: io.grpc.StatusRuntimeException: INTERNAL: Internal error encountered.
	at com.google.api.gax.rpc.ApiException

[2021-05-13 16:22] ylexus commented on #98
I’ll need full logs for the session from start in order to analyse it effectively. Could you email it to me please (you know my address by now)? Ideally also config.json from the same directory where the logs for is located.

But overall if you see RESOURCE_EXHAUSTED exceptions happening even overnight, then there’s nothing we can do. It should still make some progress, but slow. They have various

[2021-05-13 18:10] snairolf commented on #98
I'll look into sharing the logs. There is no config.json in that directory, just a data.json.

I am wondering if the back-off is long enough to prevent hitting the per minute quota limit. It really doesn't seem like there much progress, maybe 3 images over several hours.

[2021-05-13 18:28] ylexus commented on #98
Sorry, data.json, yes. The back off is exponential. But I need to see the progress of the back off and for that I need logs.

[2021-05-13 21:33] ylexus commented on #98
One thing that I can see is that RESOURCE_EXHAUSTED (429) error should be retried with a min of 30 second delay as per https://developers.google.com/photos/library/guides/best-practices#retrying-failed-requests, but I am not distinguishing between kinds of retryable errors. Something that I'll improve.

[2021-05-13 22:07] ylexus commented on #98
Done - if you're building from sources, pull and try the new version.

[2021-05-15 10:35] astronaut63 opened #102 "Albums created using shared client cannot be used by dedicated client (and vice versa)"
Originally using V1.6.1  and had populated about 30% of albums.
I then installed V1.8.0 (to use dedicated client). This created duplicate albums to the ones created by V1.6.1
After deleting 400+albums (using the excellent MiniMouseMacro)  I started again with V1.8.0 (dedicated client) and new albums created.
Had a separate  issue  with uploading (12% of albums) so changed to V1.8.0(shared client)

[2021-05-15 11:08] ylexus commented on #102
Yes indeed, if you are using your client secret, it’s like a different application to Google Photos. So the behaviour is expected. I’ll update the documentation.

[2021-05-15 11:42] ylexus commented on #102
Added a lot of cross-links and mentions of own Client Secret functionality to the wiki. Hope it's not any more confusing now.

[2021-05-15 11:42] #102 closed

[2021-05-15 12:01] astronaut63 commented on #102
Thanks - much clearer

[2021-05-16 23:36] ylexus commented on #98
All we know about the problem so far is that it's a specific picture that gets stuck with INTERNAL GRPC error:
[code]

grpc-status: 13, grpc-message: Internal error encountered

[2021-05-18 19:24] ylexus commented on #48
@Cantolla yes that’s exactly what I meant!

[2021-05-19 15:37] teimuraz1962 opened #103 "Jiotty just exit with no error message"
Kubuntu 20.04 with all updates, desktop Plasma
Linux temo-Lenovo-T420 5.8.0-53-generic #60~20.04.1-Ubuntu SMP Thu May 6 09:52:46 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

./JiottyPhotosUploader -v
Version 1.8.0

I'm using Jiotty to upload a lot of files (more than 90 000), about 45% already uploaded. But now, after exit it won't run any more. Every time I run it, it's just exiting without any messa

[2021-05-19 17:17] ylexus commented on #103
Hi, are you using the command line only or UI?
When this happens, can you send me the logs from ~./jiottyphotosuploader/log/main.log? Either attach here or email me at opensource@yudichev.net. The file should not contain any picture file names as the app just crashes. Also please check current directory where you run the app for any crash logs or other similar files and if any are found - attach t

[2021-05-19 18:20] teimuraz1962 commented on #103
Hi
As I couldn't wait any longer, I've renamed ~/.jiottyphotosuploader folder
and now it's working again... but from scratch :(

As I've saved an old folder, I can attach files from there.

On Wed, May 19, 2021 at 9:18 PM Alexey Yudichev ***@***.***>
wrote:

I'm using UI

I'm sending main.log, couldn't find anything else.

--
Best regards,
 Teimuraz Abashidze
--------------------------------------

[2021-05-19 21:04] ylexus commented on #103
@teimuraz1962 replying via email and attaching files does not work in GitHub. Please attached the file via GitHub web interface.

[2021-05-20 05:43] teimuraz1962 commented on #103
Sorry, here it is

Sorry, here it is

[main.log](https://github.com/ylexus/jiotty-photos-uploader/files/6513200/main.log)

Hm... hope I did it in right way ;)

[2021-05-20 07:03] ylexus commented on #103
Yes thanks. The state database file data.json got corrupted. I’ve seen that before once. Could you send me `~/.jiottyphotosuploader/data.json` from your renamed folder please? It will contain your file names, so maybe you’d prefer to email it to me instead of posting here. If you don’t want me to see your file names, then please at least cut the section a few lines before and after line number 201

[2021-05-20 07:09] ylexus commented on #98
Note to self: check that the "Some of the files I will upload..." option still works for:
1. Files uploaded by other app
    1. Not present in any album
    2. Present in an album created by Jiotty
    3. Present in an album created by another app
2. Files uploaded by Jiotty but later added to an album created by other app

It may be that the loophole this option was using no longer works.

[2021-05-20 11:37] teimuraz1962 commented on #103
I couldn't find this number 201816 in data.json, so I'd prefer to email it
to you. Is this ***@***.*** your email address?

On Thu, May 20, 2021 at 11:03 AM Alexey Yudichev ***@***.***>
wrote:

--
Best regards,
 Teimuraz Abashidze
--------------------------------------------
Linux user #140208
https://mewe.com/i/teimurazabashidze - MeWe
http://www.facebook.com/teimuraz.abashidze - FaceBook
https:/

[2021-05-20 11:59] ylexus commented on #103
GitHub hid the email address. It’s opensource@yudichev.net.
it’s best not to use email to reply to GitHub comment notifications - it does not work well . Please click on “view it on GitHub” link at the bottom of such emails and write your response as a comment.

[2021-05-20 12:00] ylexus commented on #103
201816 Is a line number in the text file, not the actual number that is contained in the file. In any case, if you email the file to me it’ll be ideal.

[2021-05-21 09:01] teimuraz1962 commented on #103
I've sent complete file to your email, hope you got it.

[2021-05-21 09:14] ylexus commented on #103
Yes I received it. The issue is that this file was saved with a strange character '0' in the unexpected place. It should have been a space there. The [Jackson library](https://github.com/FasterXML/jackson-databind) used to save it has no known bugs that would cause this. Is there any chance you could have manually edited this file between Jiotty runs and accidentally added this character? If not,

[2021-05-21 09:37] teimuraz1962 commented on #103
Hi
No, of course I didn't edit it as I have no idea of it's structure etc.
I can say, it happened twice with me and both after I exit the program,
first pressing "Stop" to stop processing photos and then pressing [X] in
the upper right corner of the window.
Today I restarted my computer, the program was stopped at that moment, I
didn't exit, just restarted. After I run it again and it works.

P.S.

[2021-05-21 09:58] ylexus commented on #103
OK, I think I’ll just crack on with #70 - this will solve the problem for sure.

As for controlling the space - this is possible, but is also quite a bit of work mostly because I will need to authorise Jiotty to use Google Drive API. Feel free to raise a new issue for this.

[2021-05-21 10:00] ylexus commented on #103
Closing this one - please follow #70 to check for progress.

[2021-05-21 10:00] #103 closed

[2021-05-21 11:45] teimuraz1962 opened #105 "Set up target percentage of free space in Google Drive"
Currently user has to control manually lasted free space in Googel Drive during upload of files.

The result is 99% full Drive with limited functionality, and Google allows to compress your media to High Quality only once a day.

It will be very useful if we can set up needed free amount in gigs or percentage just from beginning.

[2021-05-21 12:51] ylexus opened #106 "Paths in progress panels are showing unrelated items due to batching"

[2021-05-21 18:21] ylexus commented on #103
@teimuraz1962 try version [1.9.0](https://github.com/ylexus/jiotty-photos-uploader/releases/tag/1.9.0) please where I changed the way upload data is stored - no more gigantic text data.json files.

[2021-05-21 18:22] ylexus commented on #70
Released in [1.9.0](https://github.com/ylexus/jiotty-photos-uploader/releases/tag/1.9.0)

[2021-05-21 18:22] #70 closed

[2021-05-21 18:30] teimuraz1962 commented on #103
Thanks, I'll check it out.

On Fri, May 21, 2021 at 10:21 PM Alexey Yudichev ***@***.***>
wrote:

--
Best regards,
 Teimuraz Abashidze
--------------------------------------------
Linux user #140208
https://mewe.com/i/teimurazabashidze - MeWe
http://www.facebook.com/teimuraz.abashidze - FaceBook
https://instagram.com/teimurazabashidze/ - Instagram
http://taichi.ge - TaiChi Chuan in Tbilisi
http://

[2021-05-22 11:31] #106 closed

[2021-05-22 11:44] ylexus commented on #98
All scenarios that I can think of with a pre-existing album and/or image pre-uploaded manually - they all still work, so this problem was not due to any API permission changes on Google side that I suspected. Oh well, a least the minor enhancements that I made would make it hang forever if this ever happens again. There is nothing else I can think of. I wish Google server responded with a better e

[2021-05-22 11:44] #98 closed

[2021-05-23 09:42] ylexus opened #108 "Make donation links more prominent and appear on more screens"

[2021-05-23 12:44] #108 closed

[2021-05-23 13:56] ylexus opened #109 "If switched to custom secret but not logged out, upon restart upload hangs"
[code]

[2021-05-23 17:43] nobodytooo opened #110 "What gmail account is it uploading to is not visible on the GUI? How to change it is not there either?"
How do I know to what account did I point the uploader? GUI does not show it.
How do I change the gmail account?
Do you know how to check which of my Pixels is attached to which gmail account? Google is not helpful at all.

[2021-05-23 17:55] ylexus commented on #110
For now, it's impossible to see in the app which account you're logged in to. You'll have to log out via menu and log back in to make sure.
I will try improving the app to show this.

[2021-05-23 17:56] ylexus commented on #110
I don't own any Android phones so can't comment on Pixels.

[2021-05-24 00:17] nobodytooo commented on #110
Spasiba Alyosha.
Luc

From: Alexey Yudichev
Sent: May 23, 2021 10:56
To: ylexus/jiotty-photos-uploader ***@***.***>
Cc: nobodytooo ***@***.***>; Author ***@***.***>
Subject: Re: [ylexus/jiotty-photos-uploader] What gmail account is it uploading to is not visible on the GUI? How to change it is not there either? (#110)

For now, it's impossible to see in the app which account you're logged in to. Y

[2021-05-26 22:07] ylexus opened #111 "Upgrade to latest java+javafx"
1. why not
2. potentially remove mac signing hacks
3. javafx percentage character clipping bug could be fixed
4. javafx poor anti-aliasing could be fixed

[2021-05-27 22:36] ylexus commented on #105
Unfortunately, after a a lot of time spent, I conclude that Google Drive API used to monitor free space is not usable for this purpose. It only allows to monitor Google Drive space in real time. Space used by content in Google Photos is reflected with a large lag. I raised an issue with them: https://issuetracker.google.com/issues/189353122.

Since I wrote a lot of code already, I think I'll relea

[2021-05-30 18:38] huyz opened #112 "DS_Store should be .DS_Store"
A dot is missing in `.DS_Store` here (and in the test files):

[code]

[2021-05-31 22:31] ylexus commented on #112
Indeed, thanks. I'll fix it once I finish with the current big chunk of work.

[2021-06-11 09:33] ylexus commented on #112
Done, existing entry in preferences mentioning the  invalid pattern will be auto-migrated on running the new version.

[2021-06-11 09:33] #112 closed

[2021-06-15 23:25] ylexus commented on #110
Added the logout button to the folder selection screen. Google API does not disclose user's email address, so I can't display it to show which account is in use. This is the best I can do, should be enough!

[2021-06-15 23:25] #110 closed

[2021-06-16 03:56] nobodytooo commented on #110
Thank you. It solves the problem in that I do not have to shut down the program to be able to re-log where I want.

From: Alexey Yudichev
Sent: June 15, 2021 16:26
To: ylexus/jiotty-photos-uploader ***@***.***>
Cc: nobodytooo ***@***.***>; Author ***@***.***>
Subject: Re: [ylexus/jiotty-photos-uploader] What gmail account is it uploading to is not visible on the GUI? How to change it is not there

[2021-06-16 06:47] ylexus commented on #110
As I mentioned in the previous comment, you did not have to shut down earlier either - the logout option has always been available in the menu.

[2021-06-21 22:00] vicmortelmans opened #113 "Jiotty on Raspberry Pi"
Hi,

I'd like to run Jiotty on my Raspberry Pi (Raspbian 10) as part as a back-end script that synchronizes images onto Google Photos (so Jiotty will be used in command line modus).

Since there's no ARM build, I've followed these steps:

1. Install AdoptOpenJDK 14 (there's no ARM Oracle Java)
2. Install gradle from repo (`sudo apt install gradle`)
2. Clone the jiotty-photos-uploader repository
3.

[2021-06-21 22:42] ylexus commented on #113
Hi. Last time I checked, the google photos library I am depending upon uses pre-built native binaries that they only ship for 64 bit Intel architecture. This is the reason Jiotty can’t run on anything else.

having said that, I have not checked their latest versions. Maybe they already support other architectures. I do have a Raspberry PI 4 at hand for my home automation, so can easily check. will

[2021-06-22 00:25] ylexus commented on #113
Just realised there was a typo in README.md. Plus `--no-daemon` is useful so that the build does not start the extra daemon process. So the proper command to run the UI is
`./gradlew --no-daemon -DCLIENT_SECRET_PATH=/path/to/google-API-client-secret.json run`

Just tried on RPi - it fails because there are no arm javafx libraries. javafx is the java UI library:
[code]

OK, we don't really need the

[2021-06-22 20:10] vicmortelmans commented on #113
Hi,

I hope it will work :)

Perhaps you had crashes because of lack of swap space? I have increased mine from 100MG to 1GB.

You refer to a `log` directory, but I don't see any? Why would that be?

Best regards,
Vic

[2021-06-22 21:24] ylexus commented on #113
`git pull` and try again - I made a few fixes there. But I'd ignore the UI for now - looks like the official javafx libraries do not support `armv7l`. Googling finds https://webtechie.be/post/2020-04-08-installing-java-and-javafx-on-raspberry-pi/, which has a link to https://bell-sw.com/pages/downloads-embedded/ - they claim it contains javafx that works on RPi. However its latest version is 13. I

[2021-06-22 23:17] ylexus commented on #113
Alright, if you `git pull` now you'll be able to use instructions in README.md to build it on RPi. However, the UI still does not work, only command-line mode. The disadvantage is that the CLI will be using all the default settings (which may be fine with you). You can still update the config `~/.jiottyphotosuploader/data.json` manually to customise settings, but I do not have documentation on it

[2021-06-23 00:20] ylexus commented on #113
Alright, UI now works too on RPi, was just a matter of using a proper JDK with RPi-compatible javafx (Full distribution of Liberica OpenJDK 16) - follow the updated steps in README.md.

While the binary works, I am not sure whether the resulting .deb installer will be self-sufficient to work without the installed JDK at all. I'll test that later.

[2021-06-23 15:32] vicmortelmans commented on #113
Hi,

I still got a problem.

Here's the output for building a native binary:

[code]

Here's the error report from `app/build/reports/tests/text/index.html`:

[code]

If I do the `run` command, there's following output, up till a point where the process seems to stall, without any GUI being displayed:

[code]

[2021-06-23 17:46] ylexus commented on #113
Did you do `git pull` before building and installed **Full** Liberica OpenJDK 16 - current URL is https://download.bell-sw.com/java/16.0.1+9/bellsoft-jdk16.0.1+9-linux-arm32-vfp-hflt-full.deb?
The test failure from your first build is most likely due to RPi being slow - I just pushed higher timeouts, try again.
RE the failure in your second run - can you please look at `~/.jiottyphotosuploader/log

[2021-06-23 20:48] vicmortelmans commented on #113
Hi,

before my previous message, I had done a `git pull`. That was 6 hours ago. When I do another `pull` now, there's  nothing new.

I reinstalled the jdk using the download link in your previous message. Originally I had installed it using these instructions, which is perhaps not taking the full jdk: https://bell-sw.com/pages/repositories/#apt

Just to make sure, here's the installation path:

[c

[2021-06-23 22:55] ylexus commented on #113
1. Integration test - apologies, the push got stuck in my IDE. Now pushed. Please try again. Is it RPi 4 or RPi 3 that you're running this on? I am running on RPi 4. If it's still failing, could you run `./gradlew --no-daemon --info -DCLIENT_SECRET_PATH=<whatever-your-secret-path-is> fullPackage -DVERSION=2.0.1 >build.txt 2>&1`, wait until it fails again and attach `build.txt` here please? There w

[2021-06-24 08:59] ylexus opened #114 "Eclipse jetty thread dangling preventing shutdown"
If started on MacOS via .app while not logged in yet, then Cmd+Q on the login dialog, the app does not exit because of this:
[code]

[2021-06-24 09:51] ylexus commented on #113
Made a few more fixes - it now builds the .deb fine, and that .deb installs and runs fine on my RPi. I'll soon release 2.0.0 with the RPi binary. The binary will not require and JDK installed, obviously, as it packages it all together. It even adds a shortcut to "Accessories"! :)
Would be interesting to know if you have any more issues. You can ignore the binary building one, as I'll release the b

[2021-06-24 09:55] ylexus opened #115 "Fails to quit if javafx renderer fails to initialise"
Log
[code]

Threads:
[code]

[2021-06-24 09:57] ylexus commented on #113
On my RPi, I sometimes see an error in the log like in a submitted issue #115 when started via gradle run. If this is what you see to, then starting from binary is the only way.

[2021-06-24 19:55] vicmortelmans commented on #113
Hi,

I have a Raspberry Pi 3.

Again making progress, but not there yet. The fullpackage build succeeded, after burning one of my cores for 30 minutes. The 150MB deb could be installed. Running jiotty just flashes a window that disappears immediately and writes nothing on the console, but I attach the main.log in this message.

[main.log](https://github.com/ylexus/jiotty-photos-uploader/files/6711

[2021-06-24 21:07] ylexus commented on #113
The log just shows that the 10 seconds the app gives to initialise the UI is just not enough for the slow RPi3. I've just increased it to 30 and pushed - you'll have to rebuild again or try the faster "run" task again.

BTW if you add `--build-cache` to command line, it will increase the speed of subsequent builds.

Just an observation that fullpackage on RPi4 takes 9.5 mins.

Another hint: later,

[2021-06-24 22:19] #114 closed

[2021-06-24 22:20] ylexus commented on #115
Worked around a javafx issue.

[2021-06-24 22:20] #115 closed

[2021-06-24 23:48] ylexus commented on #113
Released [2.0.0](https://github.com/ylexus/jiotty-photos-uploader/releases/tag/2.0.0) with the RPi deb in it, so you don't have to build. If we discover any more issues, I'll do a patch release 2.0.1.

[2021-06-25 06:30] vicmortelmans commented on #113
Hi,

I've rebuilt the deb and now Jiotty GUI is showing and interactive, but after a few moments it's gone again.

Same behaviour when I install from the released build.

main.log attached for both runs.

[main.log_release_build.log](https://github.com/ylexus/jiotty-photos-uploader/files/6714007/main.log_release_build.log)
[main.log_my_last_build.log](https://github.com/ylexus/jiotty-photos-upload

[2021-06-26 00:26] ylexus commented on #113
Took me a while to figure this out. Th login dialog is supposed to show an integrated browser, using the native WebKit javafx library. That library is not included in Liberica JDK. https://bell-sw.com/pages/liberica-release-notes-16/ even says "Java FX Webkit - does not work." It worked on my RPi because I logged in from the command line. You can do this too - just run the command line version spe

[2021-06-26 19:24] vicmortelmans commented on #113
Hi,

Me again :)

The login request is now coming up in my browser, but it won't succeed. When I enter my credentials, the browser returns a screen saying "Error 401 (bad request) - The server cannot process the request because it is malformed. It should not be retried. That's all we know." and the app is frozen.

![malformed](https://user-images.githubusercontent.com/162956/123523568-98c65180-d6c

[2021-06-27 21:58] ylexus commented on #113
I am at loss with this one. I presume that when you run the console app, it opens the browser too? Can you please, instead of using that browser window, close the browser completely, copy the URL from the console (the one after "Please open the following address in your browser:") and paste it into a fresh browser instance?

If it still does not work, can you try going to Chromium browser settings

[2021-06-27 22:17] ylexus commented on #113
I understand that logging in to other Google services works, but this callback style OAuth is not really the same in terms of code path as logging in to web-based apps.

[2021-06-27 23:05] vicmortelmans commented on #113
Hi,

none of the above worked. This was the browser version:

`Version 86.0.4240.197 (Official Build) Built on Raspbian , running on Raspbian 10 (32-bit)`

I upgraded to the same version as yours:

`Version 88.0.4324.187 (Official Build) Built on Raspbian , running on Raspbian 10 (32-bit)`

And now it works!

It's getting late now :)  Tomorrow I'll check if I can configure Jiotty to use my own cli

[2021-06-27 23:58] ylexus commented on #113
Great! Seems to have been a bug in Chromium.

[2021-06-28 05:42] vicmortelmans commented on #113
Hi,

configuring my own client secret seems to work as well.

I did a couple more tests with the command-line tool and although the pictures and albums are uploaded to Photos without problem, this error is displayed on the console before the program exits. Should I worry about this? Could it be related to the Raspberry Pi setup?

Best regards,
Vic

[code]

[2021-06-28 07:06] ylexus commented on #113
Is this error reproducible or random? Can you please try doing it in the UI and then send me the log? Hope is that it will also happen in the UI and then I’ll have a lot more context from the log. Thanks.

[2021-06-28 08:11] vicmortelmans commented on #113
Hi,
it seems to happen every time.
The logfile is attached.
[main.log](https://github.com/ylexus/jiotty-photos-uploader/files/6724569/main.log)

[2021-06-28 10:15] ylexus commented on #113
OK so I found a bug (introduced together with #105) where any errors during the free google account space refresh are “swallowed” (instead of being displayed to the user). I’ve fixed the bug, which will allow you to see the root cause. I’ll push soon. The error is related to Google Drive API requests. Do you remember, when logging in, whether you allowed access to “app data on your google drive” o

[2021-06-28 11:40] vicmortelmans commented on #113
As far as I remember, I just confirmed any permissions that were
requested.

28 Jun 2021 12:15:53 Alexey Yudichev ***@***.***>:

[2021-06-28 22:07] ylexus commented on #113
OK then we need to see what exactly the problem is. I've just pushed the aforementioned improvement. Could you `git pull` latest sources and run the UI via the `run` command (as per README), and try uploading? it should fail now and display the summary of the error  in the UI, and, most importantly, the full details of the error will be in the log. Please attach the log here.

We're getting there!

[2021-06-28 22:41] vicmortelmans commented on #113
Now I get an error even before it attempts to upload pictures. Is that what you're looking for?
![Screenshot 2021-06-29 00 30 54](https://user-images.githubusercontent.com/162956/123712498-b802e180-d872-11eb-98f0-c52175b3e548.png)

Logfile attached.
[main_run.log](https://github.com/ylexus/jiotty-photos-uploader/files/6729590/main_run.log)

[2021-06-28 22:46] ylexus commented on #113
Yes - it's now clear what the reason is. You're using your own Google project & client secret. You need to enable Google Drive API in your project - Google were helpful enough to even include the URL to go to in the error message!

This reminds me to update my instructions on the wiki to mention enabling the Google Drive API.

[2021-06-28 22:52] ylexus commented on #113
Wiki updated. Let me know if there are any more issues.

[2021-06-29 05:41] vicmortelmans commented on #113
Added Drive API and the error is gone!

[2021-06-29 05:41] #113 closed

[2021-06-29 13:11] ylexus commented on #113
Great collaboration, thanks! Will release 2.0.2 soon.

[2021-06-30 23:14] ylexus commented on #113
2.0.2 is released with all the latest bugfixes

[2021-07-07 22:21] ylexus opened #118 "Warnings printed to console when using cmd line"
[code]

[2021-07-15 23:55] ylexus commented on #111
Current notarisation issues are:
[code]
So this depends on https://github.com/google/conscrypt/issues/1026 and https://github.com/netty/netty-tcnative/issues/570.

[2021-07-15 23:59] #48 closed

[2021-08-06 22:00] ylexus opened #119 "Slim down the size of the binary - any unused libs in the dependency tree?"

[2021-08-08 00:13] ylexus opened #120 "Release notes in the upgrade dialog are shown in black font on dark background"

[2021-08-09 23:05] #109 closed

[2021-08-10 22:31] #120 closed

[2021-08-11 15:25] #119 closed

[2021-08-12 10:00] ylexus commented on #28
With "full" Windows 32 bit Liberica JDK https://bell-sw.com/pages/downloads/#/java-16-current Jiotty runs successfully, however the webkit-based internal browser fails to work for Google Login. Now we have a simple system browser based login option, so using that for Windows 7 32 bit. This is good progress.
However, there its a bug in JDK jpackage https://bugs.openjdk.java.net/browse/JDK-8258755 t

[2021-09-15 21:49] ylexus opened #121 "Looking for files progress keep spinning if failed traversing directory"
<img width="632" alt="image" src="https://user-images.githubusercontent.com/6009806/133514442-30498a1b-3f68-420c-82f7-521c012e2647.png">

[2021-09-15 21:53] ylexus commented on #118
Fixed as per https://github.com/beryx/badass-runtime-plugin/issues/47#issuecomment-910486818.

[2021-09-15 21:53] #118 closed

[2021-10-10 17:53] #23 closed

[2021-10-10 17:53] #121 closed

[2021-10-11 23:39] ylexus commented on #28
Liberica JDK released JDK 17, however there's no JDK 17 compatible gradle yet. The wait continues.

[2022-04-06 17:42] maxpolzin opened #122 "No albums are created"
When uploading files, the app indicates that new albums are created.
However, on Google Photos, no new albums appear.
The photos are uploaded correctly, nevertheless

[2022-04-06 18:13] #122 closed

[2022-04-06 22:00] ylexus commented on #122
Glad you figured it out!

[2022-08-18 11:12] yosigolan opened #123 "Upload ends with error message: "Something went wrong: status code: 413, reason phrase: The upload progress could not be verified. Request Entity Too Large""
Upload ends with error message: "Something went wrong: status code: 413, reason phrase: The upload progress could not be verified. Request Entity Too Large"

Scree shot:
![image](https://user-images.githubusercontent.com/18391088/185381584-0b627d41-9e1e-4ac5-b0f6-3345671d504c.png)

[2022-08-18 14:04] ylexus commented on #123
Will you be able to e-mail me the latest application log file (main.log) from this folder: `%USERPROFILE%\.jiottyphotosuploader\log` (you can copy-paste this path to Windows Explorer to simplify)? It will contain your file and folder names, so if you prefer only me to see it please zip and e-mail it to me on opensource@yudichev.net.

Without the logs I can only guess that you have a very large fil

[2022-08-18 18:18] yosigolan commented on #123
Sure, here it is:
[main.log](https://github.com/ylexus/jiotty-photos-uploader/files/9376456/main.log)

[2022-08-19 18:58] yosigolan opened #124 "Some photos are uploaded with out thier taken date. instead, the upload date is set as photo date."
See example of folder structure (and photos) that created this issue:
[Tests1.zip](https://github.com/ylexus/jiotty-photos-uploader/files/9384722/Tests1.zip)

Try uploading the root folder.
i tried both upload modes but both give same results.

[2022-08-19 19:10] ylexus commented on #124
The files you sent do not have any dates in their EXIF metadata - see https://github.com/ylexus/jiotty-photos-uploader/wiki#limitations, item 3.

[2022-08-19 19:10] #124 closed

[2022-08-20 19:50] yosigolan commented on #124
@ylexus , i don't understand why you say that. for the image "תמומות מאייפון 29.1.14 073.JPG" this is what i see:
ExifTool Version Number         : 12.44
File Name                       : ·εσεσ· εαΘΘ⌠σ∩ 29.1.14 073.JPG
Directory                       : C:/Users/Zohar/OneDrive/Tests1/TestFolder1
Warning                         : FileName encoding not specified
File Size                       : 116

[2022-08-20 19:59] ylexus commented on #124
@yosigolan there are no dates in EXIF. The three dates you see there are filesystem dates/times, that is, when the **file** was created and modified, not when the picture was taken. If you use same tool on an image from your smartphone, you’ll see additional date, something like “date taken”.
The rest is explained on the wiki website

[2022-08-28 15:21] yosigolan commented on #123
Hi @ylexus .
Any new regarding this? maybe there is some workaround?
Thanks

[2022-08-28 18:52] ylexus commented on #123
Hi, sorry somehow removed this from my todo list. On a holiday now, but it’s unfortunately not obvious from the error what file caused this. Are there any pictures or videos exceeding these sized documented here https://developers.google.com/photos/library/guides/upload-media
?
Essentially, images larger than 200Mb or videos larger than 10Gb?

[2022-08-31 18:42] yosigolan commented on #123
Hi @ylexus .
couldn't find any image larger than 200MB or video that is larger than 10gb (not even close).
Can you create a private release that catch this exception on each upload operation and prints the file name? you can send it to me and i will try it.

Thanks

[2022-08-31 20:50] ylexus commented on #123
OK. Problem is I don’t have much free time at the moment to look into this. I’ll keep it in the inbox and will fix after a large backlog of house admin is completed. If you know a Java developer who is willing to help that would be great.

[2022-09-15 07:59] ylexus commented on #123
@yosigolan I'm going to build a new version that will contain a fix that identifies this error as "transient user retryable", meaning instead of failing the whole upload it'll jus display a warning next to the file it failed to upload. All my dev certificates have expired though so it's going to be an unsigned version that you may need to run somehow on Windows. Stand by.

[2022-09-15 22:33] ylexus commented on #123
@yosigolan can you try https://github.com/ylexus/jiotty-photos-uploader/releases/tag/2.0.6-beta please? It's not signed for the reason above, let me know if you have any problems.

[2022-09-16 04:21] yosigolan commented on #123
Thank you @ylexus
will try that and update

[2022-09-17 17:37] yosigolan commented on #123
Hi.
I am getting now a different ending error:
![image](https://user-images.githubusercontent.com/18391088/190869478-8e7371bf-b120-4155-9b1f-0e9e1cbc41ce.png)

in the upload failures section i see that some files has the "entity too large error".
Does it means the upload ended except the files the failures section?

Thanks

[2022-09-17 21:26] ylexus commented on #123
Hi, no, looks like there's another problem that caused the upload to end abruptly. Can you send me the main.log again please after this happens?
Also it would be interesting to find out what is wrong with the images that cause this problem - would you be able to send me one picture that causes this, now that you can identify them? Thanks.